[2013-12-03 17:26] samoylv opened #1 "wget command in wiki guidelines provides as destination a file without extension"
see Installation guidelines for server:

file  'master'  instead of  master.zip is created

[2013-12-13 14:43] samoylv opened #2 "how to create documentation on library functions?"
mainly API functions of SRW core

opened issues:
1) should we create an issues in SRW rep ?
2) how the process can be automatized?

[2013-12-18 09:35] samoylv opened #3 "move Tutorial files into samples/tutorial subfolder"

[2014-01-16 14:21] samoylv opened #4 "create a simple tutorial example on resizing"
"бесценные знания":
1)  про параметры пропагации
- в прямом пространстве пропорционально увеличивает размер экрана (<1 обрезает, >1 добавляет поле нулей)
- в обратном пространстве пропорционально уменьшает (если >1) или увеличивает  шаг в прямом пространстве

2) возможные критерии правильного самплинга (на последней миле, то есть дрифт от последнего оптического элемента к точке наблюдения)
- шаг д

[2014-01-16 14:27] samoylv opened #5 "add the application example for extracting slices from FAST data"
(1) call exe-file from python script
(2) save the time interval in sliceMin, sliceMax
(3) check the factor from FAST internal units to get the pulse slice power in [W]

[2014-01-22 12:36] samoylv opened #6 "put tutorial examples notebooks in wiki"
- run tutorial examples ( new, updated one also) and
- put the notebooks in wiki
- add links to Tutorial wiki page

[2014-02-14 08:53] samoylv opened #7 "extract guidelines for running the soft on a separate wiki-page"

[2014-02-20 08:04] buzmakov opened #8 "Fix attributes in file"
Attributes not write in hdf5 file

[2014-02-21 06:23] #8 closed, assigned to buzmakov

[2014-03-05 07:26] #1 closed, assigned to buzmakov

[2014-03-20 14:29] samoylv opened #9 "update link to WF propagation sofrware at Simulation alfresco page"

[2014-03-21 07:49] #9 closed, assigned to nobody

[2014-03-27 05:59] #3 closed, assigned to buzmakov

[2014-04-25 15:51] buzmakov opened #10 "Update Home page on wiki"
Here is presentation of IPython creator on PyData 2014 conference.

https://www.youtube.com/watch?v=XFw1JVXKJss

It is very useful for undersanding IPython notebok features
I think it would be nice to put the link at github wiki home page, together with the references to installation  guidelines and application examples

[2014-04-28 07:22] buzmakov opened #11 "Add arrtibutes import"
Attributes of HDF5 fields should be stored after propagation

[2014-04-28 16:31] samoylv opened #12 "check consistency of S2E glossary"
for FEL_output, WPG_input, WPG_output...

what goes where? what goes to **/info**, what in **/misc** for WPG_output?

history/parent/detail   Details of the parent including /data, /info, /misc, /params

[2014-04-30 06:55] samoylv opened #13 "make zooming the FEL data before propagation in back proparation script"
and in any other time-dependent propagation of FEL data. After transforming to frequency domain xy mesh can be slightly adjusted with resizing needed for corresponding forward drift

может сохранить до фига памяти и др ресурсов; обрезать xy слайсы  до  "рамки"размером только в 10-12 раз превышающей размер полезного сигнала,  FWHM*10 для  2-мерного распределения интенсивности "на детекторе" то есть

[2014-04-30 16:07] samoylv opened #14 "add regular headers to all the notebooks!"
see details in WPG-SRW doc , todo list

[2014-05-08 10:23] buzmakov opened #15 "Add history support for S2E"
* We should add option wf.add_hsitory(hdf5_file) or/and wf.add_history(other_wf)
Moreover now wavefront object contain all fields from parent HDF5 file. For example, if input file contains /misc/... output file will contain same /misc/... and /history/parent/misc/...
* If we add /history/parent/data as links to Datasets in other files showld we keep absolute file names like /data/S2E/data/prop_in.

[2014-05-14 17:32] buzmakov opened #16 "Implement get_pulse_energy() and get_intensity()"
1.
get_pulse_energy(): return value in [J] is a total sum of intensity multiplied by (dx*dy*dSlice)*K,
where K=1e-6, because |E|^2=W/mm^2 for 't' and J/eV/mm^2 for 'f' representation
open issue:
what is the dSlice for 'f'? should be $\delta E_{ph}/E_{ph}$
2.
get_intensity() should return the value, multiplied by pixel size dx*dy measured in mm^2 (?)

[2014-05-26 21:54] samoylv opened #17 "look through useful_code/backpropagation.py"
show_slices()

[2014-06-16 07:55] samoylv opened #18 "build_gauss_wavefront_xy: fill properly wEFieldUnit field"
if pulse energy and time values are not specified, use 'arbitrary'

[2014-06-17 14:53] #18 closed, assigned to nobody

[2014-06-25 04:58] samoylv opened #19 "useful_code.print_beamline() does not work with Use_PP() wrappers"
/WPG/wpg/beamline.pyc in **init**(self, srwl_beamline)
     15         if not srwl_beamline is None:
     16             tolal_elements = max(
---> 17                 len(srwl_beamline.arProp), len(srwl_beamline.arOpt))
     18             for ti in range(tolal_elements):
     19                 try:

AttributeError: 'Beamline' object has no attribute 'arProp'

[2014-07-20 18:05] samoylv opened #20 "add Tutorial examples in python script format"
open issue: how one copes with the numpy names in pure Python?

[2014-07-22 08:37] #19 closed, assigned to buzmakov

[2014-07-22 18:23] samoylv opened #21 "modify parameters in build_gaussian in Tutorial examples + save in eps files"
modify Tutorial 2 and 3 in accordance with modified Tutorial 1-
1) to get a real value for intensity...
wfr0 = build_gauss_wavefront_xy(np,np,ekev,-range_xy/2,range_xy/2,
                                -range_xy/2,range_xy/2,sigX,sigX,z1,
                                pulseEn=pulseEnergy,pulseTau=coh_time/sqrt(2),repRate=1/(sqrt(2)*pulse_duration))
2) to save figures in files. e.g.
pow_x=plot_w

[2014-07-22 20:02] samoylv opened #22 "make a general OE T(x,y)=exp[ik(delta−i*eta)]*t(x,y)"
input parameters:
  SRWLOptT data structure with defined mesh
   t - function name for thickness depending on 2 coordinates (x,y)
  delta, eta: complex refraction index (n = 1 - delta - i*eta)
  k=2*pi/lambda
return:
  SRWLOptT filled with T(x,y)

[2014-09-09 11:29] buzmakov opened #23 "Reformat Tutorial_case_2_new"
Liuba, please reformat Tutorial_case_2_new to the style of others tutorials. They used scaling propagators from WPG (as you asked me).

[2014-09-09 11:54] #2 closed, assigned to nobody

[2014-09-09 11:58] #10 closed, assigned to samoylv

[2014-09-09 14:22] samoylv opened #24 "add the binning example in some of tutorials"
(чтоб не потерялось)
[code]

[2014-09-09 19:55] samoylv opened #25 "runtime error 'Symbol not found' in Maverick OS X and Xcode 5.1.1. env"
[code]

[2014-09-10 08:06] #12 closed, assigned to nobody

[2014-09-19 15:24] samoylv opened #26 "feature/srw-update: 'mv -u ' causes the error 'no -u option' on OS X"

[2014-09-19 15:59] samoylv opened #27 "OS X : clang instead gcc is called with setup.py + strange behaviour"
__OS X 10.9.5 (Maverick) and Xcode 6.0.1 (6A317)__

1) cpp sources are compiled by gcc, but update of CC and CXX  in tmp/SRW/cpp/gcc/Makefile
[code]
seems does not work (a default gcc used)
[code]
2) after switching to cpp/py and running setup.py clang is used:
[code]
3) this causes a runtime error  (see issue #25)

[2014-09-29 11:12] samoylv opened #28 "how to save wpg wavefront to PHASE txt file?"
to provide a hybrid calculation using Fourier approach (implemented in SRW-WPG) and stationary phase method (implemented in PHASE by J.Bahrdt) one has to save wavefront data in two txt (ASCII) files with real and imagery parts of wavefield the following format:

[code]

QUESTION:
how to write the first line, with number of points? for the rest the following code works well:

[code]

[2014-09-30 09:01] #28 closed, assigned to buzmakov

[2014-09-30 10:00] samoylv opened #29 "make a task list: what should be done to make a new release"
or put **prio-high** label to old ones

[2014-09-30 10:13] samoylv opened #30 "add new converter functions: h5wf2txt() and txt2h5wf()"
these two functions should provide the interface between PHASE and WPG data

2AB: could you please revise the function below and add it to wpg/convertors (BTW, should be convertErs in English..., but does not matter)? I checked that the function works properly. The other function `txt2h5wf(wf, fname_in)` should change wavefront data of wf structure (mesh and data/Ever) from corresponding txt file

[2014-10-20 09:10] samoylv opened #31 "update wiki Workflow"

[2014-10-20 14:43] samoylv opened #32 "Windows installation does not work?"
import modules:

python is not able to find modules (the proper sys path is inserted, the modules are on place)

[2014-10-21 10:44] #32 closed, assigned to nobody

[2014-10-21 10:44] samoylv opened #33 "Add to Windows installation guidelines a line about copying new SRW python helper files"

[2014-10-21 10:55] samoylv opened #34 "plot_wfront: how to include its functionality into mainstream lib?"

[2014-10-22 10:52] #33 closed, assigned to nobody

[2014-10-31 09:35] samoylv opened #35 "clarify with OC current content of WPG distributive"
namely what one gets after installation (in sense of Copyleft practice), i.e. how it looks now, after optimization of installation. At least it would be nice to let them know?

[2014-10-31 09:41] samoylv opened #36 "implement proper interface between WPG/SRW and PHASE packages"
what should be done:
0) push 2 functions described in #30
1) add reference to PHASE open source repo (here https://github.com/flechsig/phase) in documentation
2) have a look at hdf5 support in PHASE
3) may be suggest them some improvements to make the interface transparent/more compatible

[2014-10-31 09:48] samoylv opened #37 "todo list for MB"
the guy who should come on Nov 11-13
- register on github
- pass through installation procedure on MS Win and working server following the guidelines
- make tickets/correct documentation  if there are any inconsistencies
- check how Tutorials running, correct the code causing the warning or write tickets
- check/correct if there is a proper header for every notebook in distributive, see #14
- ever

[2014-10-31 09:52] #5 closed, assigned to samoylv

[2014-11-12 12:36] #26 closed, assigned to buzmakov

[2014-11-12 12:45] samoylv opened #38 "make an extended tutorial example 2"
CRL achromatic

[2014-11-12 13:54] MartinDylong opened #39 "Installation description for xfel servers has missing steps"
In the installation assignments for xfel servers it is missing the assignment to download and copy the srw modules into the wpg folder.

[2014-11-13 09:17] #39 closed, assigned to nobody

[2014-11-26 11:05] samoylv opened #40 "do we need installation guidlines in wiki?"

[2014-11-27 09:15] #6 closed, assigned to samoylv

[2014-12-12 16:16] samoylv opened #41 "add in main library the function calculating the intensity"
suggestion for function name:
`get_integrated(wf, amask)`

comments?

[2015-01-02 20:56] #37 closed

[2015-01-05 20:38] #40 closed, assigned to buzmakov

[2015-01-05 20:45] #7 closed, assigned to nobody

[2015-01-16 09:02] buzmakov commented on #11
no

[2015-01-16 09:56] buzmakov commented on #11
To clarify/discuss importing - exporting process.

1) When we load wavefront we should load
wavefront mandatory fields with

[2015-02-08 15:58] samoylv commented on #27
I found out a way get around that and force distutils use 'right' gcc compiler instead of clang.

1. `make all` in WPG root directory
2. go to `build/tmp/.../cpp/py/`
3. add in `setup.py` a line with CC and CXX definitions to macport gcc compier like
``os.environ["CC"] = "/opt/local/bin/gcc-mp-4.7"; os.environ["CXX"] = "/opt/local/bin/g++-mp-4.7"``
4. modify `Makefile`
to specify unix type compile

[2015-02-09 17:44] buzmakov commented on #27
It's ok for me if it's works for you.

[2015-04-02 09:57] #29 closed, assigned to samoylv

[2015-04-02 14:42] guerass opened #42 "add moments to standard libraries"

[2015-04-03 13:21] buzmakov opened #43 "Update SRW structures"
Add new SRW fields to WPG (hn (x,,y,x), hk (x,y,z))

[2015-04-03 13:23] buzmakov opened #44 "Add lazy initialization arEx & arEy"
Try to use lazy initialization arEx and arEy to reduce memory usage.

Try to use sparse arrays.

[2015-04-03 13:50] samoylv commented on #11
?

[2015-04-13 11:41] meyerann opened #45 "Parameter --pylab=inline in Step 6 of Windows installation guide seems not to work"

[2015-04-13 11:45] samoylv commented on #45
what diagnostics is generated?

[2015-04-13 12:01] meyerann commented on #45
The support has been removed and %pylab inline or %matplotlib inline should be used.

[2015-04-13 12:15] samoylv commented on #45
in which version of ipython notebook this support removed? - It may have impact on installation for other OS as well...

[2015-04-13 12:37] meyerann commented on #45
![unbenannt](https://cloud.githubusercontent.com/assets/11921805/7115611/86f8ecae-e1ea-11e4-88e3-d38b6f8d26c1.PNG)

[2015-04-13 12:47] buzmakov commented on #45
We should remove '--pylab inline' from command line parameters and add
'%pylab inline' in all tutorials.
13 Апр 2015 г. 15:37 пользователь "meyerann" <notifications@github.com>
написал:

[2015-04-15 14:55] samoylv commented on #27
it works for Yosemite as well.
1) Could we add the guidelines in documentation?
2) Most straightforward way would be to add the text in MAC_COMPILE file (SRW distributive?)

[2015-04-16 09:16] samoylv opened #46 "old version notebook on server"
how to make notebooks compatible? does it make sense to ask Janush about ipython server installation?

[2015-04-16 09:23] buzmakov commented on #46
I use IPython v3.1, it have updated version of notebook format.  IPython
2.4 support this format.
Our karaboo installation have IPython 1.

I'll convert notebooks in half hour.
16 Апр 2015 г. 12:16 пользователь "samoylv" <notifications@github.com>
написал:

[2015-04-16 09:44] samoylv commented on #46
hmm, in what direction? if one is working within new IPython, the notebooks are automatically converted into new format. QUESTION: How to keep updated examples (after processing and auto-using updated version of the format) in repo?

[2015-04-16 09:58] buzmakov commented on #46
All notebooks in repository will in ipython v1 format to keep comparability
with karaboo.

I use v4 format only for my pwn scripts.

On Thu, Apr 16, 2015 at 12:44 PM, samoylv <notifications@github.com> wrote:

[2015-04-16 10:04] buzmakov commented on #46
I convert files.
Please use *.v3.ipynb files.

[2015-04-17 13:28] #17 closed

[2015-04-21 12:30] samoylv commented on #46
I cannot find .v3.ipynb files in github,

[2015-04-27 13:28] meyerann opened #47 "9fs_20_T not able to run on 2 cores, reallocate memory error"
The execution needs about 40minutes and then the error you can see in the picture occur. It also occurs by execution with  9fs_35_T on 2 cores. On 1 core it is running successful and needs about 25 minutes.

[2015-04-27 13:59] samoylv commented on #47
2 meyerann: I removed the screen shot - it is better to use e-mail for such info

[2015-07-28 12:34] samoylv opened #48 "add 2D wrapping for phase using the following algorithm"
seems working stable
[code]

[2015-09-10 16:58] samoylv commented on #42
could you please provide a link to /copy of piece of code

[2015-09-11 08:07] #14 closed

[2015-09-11 08:12] samoylv commented on #43
done?

[2015-09-11 08:13] buzmakov commented on #43
Yes
11 Сен 2015 г. 11:12 пользователь "samoylv" <notifications@github.com>
написал:

[2015-09-11 08:21] samoylv commented on #15
4AK: check how it works with regular wavefronts, see the s2e prop script

[2015-09-11 08:22] #43 closed

[2015-09-11 08:27] samoylv commented on #35
should be resolved ASAP together with other issues concerning WPG repository public account...
1) keep current account
PRO:
+ already known some people
+ ...

CONTRA:
- Harald's opinion
- company 'rights'
- 'safety'

[2015-09-11 08:27] #20 closed

[2015-09-11 08:29] samoylv commented on #47
moved to s2e prop issues

[2015-09-11 08:29] #47 closed

[2015-09-11 08:31] samoylv commented on #31
the info moved to docs

[2015-09-11 08:31] #31 closed

[2015-09-11 08:35] samoylv commented on #11
what else should be done?

[2015-09-11 08:36] samoylv commented on #36
check how it works

[2015-09-14 09:43] samoylv opened #49 "link *Edit on GitHub* does not work"
on the documentation pages the link  *Edit on GitHub* does not work

[2015-09-14 12:33] buzmakov commented on #49
fixed

[2015-09-14 12:33] #49 closed

[2015-09-14 14:09] samoylv commented on #25
see issue #27

[2015-09-14 14:09] #25 closed

[2015-09-14 14:18] samoylv commented on #21
2LS: the intensity issue should be clarified asap including description in Tutorial examples

2AK: saving picture in files - create another issue, for creating *Tips and Tricks* section in documentation

[2015-11-06 17:59] #4 closed

[2015-11-06 17:59] #13 closed

[2015-11-06 17:59] #15 closed

[2015-11-06 17:59] #23 closed

[2015-11-06 17:59] #24 closed

[2015-11-06 17:59] #30 closed

[2015-11-06 17:59] #34 closed

[2015-11-06 17:59] #35 closed

[2015-11-06 17:59] #36 closed

[2015-11-06 17:59] #44 closed

[2015-11-06 17:59] #45 closed

[2015-11-06 17:59] #46 closed

[2015-11-11 14:23] samoylv opened #50 "wfr.get_limits(): add processing angular representation"
i.e return `qxMin, qxMax`... or `xMin`... in dependence of `wfr.params.wSpace={'Q-space'|'R-space'}`

[2015-11-13 13:10] samoylv commented on #11
check how it works after adding the attributes to xpd FEL source files (https://github.com/samoylv/xpd/issues/5)

[2015-11-13 13:51] samoylv commented on #42
* look through
http://www.exponenta.ru/educat/class/courses/tv/theme0/3.asp
https://ned.ipac.caltech.edu/level5/Leo/Stats1_3.html
* calculate
  - the mean value (the first moment about 0)
  - the mean-square deviation or dispersion/variance (the second central moment)
  - (?) asymmetry coefficient, i.e. the_third_central_moment/variance^(3/2)

[2015-11-13 14:03] samoylv opened #51 "change calculate_theta_fwhm_cdr() in Tutorial 3 to sase3 cdr2011 formula"
Sebastian T:

[2015-11-13 15:42] samoylv opened #52 "Tutorials:calculate_source_fwhm(ekev, theta_fwhm): factor 2 in formula for sigma"
Sebastian mentioned that  `sigma0 = wl /(2*numpy.pi*theta_sigma)`  should be
`sigma0 = wl /(4*numpy.pi*theta_sigma)` - Agreed

_check all tutorials_
[code]

[2015-11-17 12:28] guerass commented on #42
normalization is needed (in statistics, there is always probability density p(x), where integral(p(x)dx)=1)

[2015-11-18 13:50] samoylv opened #53 "strange order of get_limit() output"
here:
https://github.com/samoylv/WPG/blob/develop/wpg/wavefront.py#L329
2AB: do you remember why is there such a strange sequence, e.g by default, for
`axis == 'z': return sr.xMin, sr.xMax, sr.yMax, sr.yMin`

Is it determined by usage in  `imshow(wfr_data, extends=wrf.get_limits()))` ?

[2015-11-18 14:41] buzmakov commented on #53
Yes,
get_limits used only for simplify imshow() usage.
If it's work don't touch it.
Do you find strange behavior of your code with this function?

[2015-11-18 14:49] samoylv commented on #53
no, actually we should change the Tutorial examples plot_2d() for the mirror surface distortions as a phase screen: there the limits are definitely wrong and now I seems to understand why

[2015-11-24 12:00] samoylv opened #54 "add get_amplitude() and get_phase() methods for struct SRWLOptT"
чтобы была возможность отрисовки произвольного оптического элемента

[code]

[2015-11-27 10:44] buzmakov commented on #54
I don't know the proper way to modify SWR object SRWLOptT

Temporary solution here: https://gist.github.com/buzmakov/98539ed4a5ad569241e2

[code]

[2015-11-27 11:22] samoylv commented on #54
I think it would be fine with only one function (show_transmission) as well

[2015-11-30 10:15] samoylv commented on #54
actually I believe that `SRWLOptT` keep not amplitude and phase, but Absorption coefficient and OPD (optical path difference, i.e. `phase = OPD*k==OPD*2 pi / wavelength`)
2AB: could you have a look in SRW documentation?

if true,  I would change correspondingly
1. the function names,
2. figures titles

[2015-12-01 17:16] samoylv opened #55 "waveftont.get_limits(): add support of Q-space representation"
@TODO:
- to AB: to add else-block to raise a warning/error if no params.wSpace, what function to be used?
- scale `qxMin...`, etc with wavelength to get angular coordinates?

[code]

[2015-12-01 19:42] samoylv commented on #55
Alexey, please have a look at `spb_fig6-Copy2.ipynb`,
why vertical axis in angular representation figures looks different in Cell[8] (propagate_debug) and in the last Cell (imshow with get_limits)? In the last case zero is not in the middle of the range...

get_limits() code is the following (WPG-feature-optical_elements/wpg/wavefront.py):
[code]

[2015-12-02 09:14] samoylv opened #56 "import error in nanolenses notebook"
[code]

[2015-12-02 16:04] buzmakov commented on #56
All works for me in master and develop

On Wed, Dec 2, 2015 at 12:14 PM, samoylv <notifications@github.com> wrote:

[2015-12-02 16:05] buzmakov commented on #54
:param _arTr: complex C-aligned data array (of 2*ne*nx*ny length) storing
amplitude transmission and optical path difference as function of
transverse coordinates

On Mon, Nov 30, 2015 at 1:15 PM, samoylv <notifications@github.com> wrote:

[2015-12-02 16:30] samoylv commented on #56
and in the third branch?

[2015-12-02 16:35] samoylv commented on #54
great, thank  you

[2015-12-02 16:59] samoylv commented on #56
no, it should not depend on the branch, what version of ipython do you use?

[2015-12-02 21:56] buzmakov commented on #56
[makov-G46VW]➜  WPG git:(feature/optical_elements) ✗ ipython
Python 2.7.10 |Anaconda 2.3.0 (64-bit)| (default, Oct 19 2015, 18:04:42)
Type "copyright", "credits" or "license" for more information.

IPython 4.0.0 -- An enhanced Interactive Python.
?         -> Introduction and overview of IPython's features.
%quickref -> Quick reference.
help      -> Python's own help system.
object?   -> Details a

[2015-12-03 10:00] samoylv commented on #56
thanks. it means IPython 4.0.0 --

and I tried with
[code]
maybe the syntax is not supported for earlier versions??

[2015-12-03 10:50] buzmakov commented on #56
No, Python 2.7 used in all cases.

On Thu, Dec 3, 2015 at 1:00 PM, samoylv <notifications@github.com> wrote:

[2015-12-03 10:50] samoylv commented on #56
and IPython version does not matter you meant?

[2015-12-03 10:54] buzmakov commented on #56
Yes, version of IPython doesn't matter.
Could you please check this in master or develop branch?

On Thu, Dec 3, 2015 at 1:50 PM, samoylv <notifications@github.com> wrote:

[2015-12-03 11:03] samoylv commented on #56
yes, with develop branch I have the same error
git branch
* develop
  feature/optical_elements
  master

[2015-12-03 11:05] buzmakov commented on #56
Is it on server or your laptop?
Have you file wpg/converters/nanolenses/EdfFile.py?

On Thu, Dec 3, 2015 at 2:03 PM, samoylv <notifications@github.com> wrote:

[2015-12-03 11:16] samoylv commented on #56
on laptop
yes I have

[2015-12-03 12:26] buzmakov commented on #56
Please try create empty __init__.py file in wpg/converters/nanolenses/

On Thu, Dec 3, 2015 at 2:16 PM, samoylv <notifications@github.com> wrote:

[2015-12-03 12:31] samoylv commented on #56
aga, it helped!

[2015-12-10 19:18] sthiess opened #57 "calculate_peak_pos(): returns zero for strongly off-centered beam"
calculate_peak_pos(A) returns zero - thereby compromising the calling function calculate_fwhm_x() - in case array A contains only zero entries along line/column ny/2 or nx/2. (Current case: An offset aperture lets only 10% of the beam intensity pass in order to simulate beam splitting by a partially inserted mirror.) Suggestion:
replace
    nc = numpy.where(irr == irr_max)
    irr_x = irr[ny / 2,

[2015-12-11 09:40] samoylv commented on #57
good comment
code in `useful_code/wfrutils.py`
nc always exists (is not empty), could be there any other exceptions? shape of nc?
[code]

[2015-12-11 13:11] samoylv opened #58 "bug in get_intensity_on_axis(wfr)"
does not work with asymmetric nx,ny wave fronts

should be:
[code]

[2016-01-22 09:04] samoylv opened #59 "check and migrate to python 3.4"

[2016-01-22 09:09] samoylv commented on #50
see issue #55

[2016-01-23 13:12] sthiess commented on #57
Workaround:
Recenter the mesh around the beam peak by SRWLOptShift() such that line/column ny/2 or nx/2 contains entries that are non-zero.

[2016-02-24 08:44] #53 closed

[2016-02-24 08:47] samoylv commented on #54
looks implemented
https://github.com/samoylv/WPG/blob/develop/wpg/wpg_uti_oe.py#L21

[2016-02-24 08:47] #54 closed

[2016-02-24 08:47] #56 closed

[2016-02-24 08:49] samoylv commented on #51
the function is moved in uti_wpg_exfl.py
now
`calculate_theta_fwhm_cdr_s1()` and `calculate_theta_fwhm_cdr_s3()`
are identical, must be corrected ASAP

[2016-02-24 08:50] #50 closed

[2016-02-24 08:51] samoylv commented on #38
will be made together with Carsten, not an issue, closed

[2016-02-24 08:51] #38 closed

[2016-02-24 08:56] samoylv commented on #27
https://github.com/samoylv/WPG/wiki/Maverick-OSX:--force-distutils-use-'right'-gcc-compiler-instead-of-clang

[2016-02-24 08:56] #27 closed

[2016-02-24 08:58] samoylv commented on #22
let's leave this exercise for users

[2016-02-24 08:58] #22 closed

[2016-02-24 08:59] samoylv commented on #21
closed, maybe sometime  in the future

[2016-02-24 08:59] #21 closed

[2016-02-24 09:00] samoylv commented on #11
done

[2016-02-24 09:00] #11 closed

[2016-02-24 09:02] samoylv commented on #16
should be placed into uti_wpg_wf()

[2016-02-24 09:06] samoylv commented on #16
from issue #41 which has been closed

input parameters:

wf - wavefront structure

bit_mask(wf.params.Mesh.nx,wf.params.Mesh.ny) - to define an aperture, optional

the function returns integral intensity, units - number of photons or J (i.e. Nph*h\nu) - some constants, e.g. charge of electron should be defined

For t-dependent pulses everything except applying the bitmask is already implemented an

[2016-02-24 09:07] samoylv commented on #41
moved to #16

[2016-02-24 09:07] #41 closed

[2016-02-25 08:14] samoylv commented on #58
implemented in the local `uti_wpg_wf.py`

should be closed after updating develop branch with local files

[2016-03-02 13:36] #58 closed

[2016-03-02 13:47] #55 closed

[2016-03-02 14:04] samoylv opened #60 "which cmap use for intensity imshow()?"
comment from CFGrote:
although widely used, gnuplot is not a good choice (though better than
jet) because not perceptually uniform. same goes for hot. if you want a
"rainbow" like colormap, use inferno, plasma, or magma. personally, i
like viridis or bones best. for phase plots, a diverging map might be
suitable, e.g. RdBu or coolwarm. see also
http://matplotlib.org/users/colormaps.html

[2016-03-02 14:06] samoylv commented on #60
inferno is used in wpg_uti_wf.py, (locally)

[2016-03-02 16:23] samoylv commented on #59
works at server

[2016-03-02 16:23] #59 closed

[2016-03-03 14:47] buzmakov commented on #60
Good presentation about new default colormap in matplotlib 2.0
https://www.youtube.com/watch?v=xAoljeRJ3lU

On Wed, Mar 2, 2016 at 5:06 PM, samoylv <notifications@github.com> wrote:

[2016-03-11 09:53] CFGrote opened #61 "Small changes in plotting utilities"
Hi, I made some modifications to my copy of wpg_uti_wf to make the plots a bit nicer (include x and y projection next to the profile. Just a suggestion.

----
def plot_t_wf(wf, save='', range_x=None, range_y=None):
    """
    plot wavefront in time domain (obligatory?) and R-space

    :params: wf: wavefront structure
    :params: save: Whether to save the figure on disk
    :type:  string for fi

[2016-03-11 09:56] CFGrote opened #62 "Add PlaneMirror to optical_elements"
A plane mirror with a non-zero mirror profile is currently done in two steps:
* Setup a phase screen propagator using WF_dist
* "Fill" the phase screen propagator using calculateOPD.

I suggest adding a new PlaneMirror(**kwargs) function that takes the dimensions (mirror length, angle wrt optical axis, mirror profile data (or file) and returns the phase screen propagator.

[2016-03-11 10:01] CFGrote opened #63 "Memory leaks?"
I observed that while looping over a set of parameters (e.g. focus position) doing beamline setup and propagation (day one configuation for spb/sfx), memory occupation just goes up, eventually hitting the exflst server max capacity (which is some tens of GB). Can post script and memory trace if this is of interest. Current workaround is to delete all wavefronts and beamlines at the end of each ite

[2016-03-11 12:39] samoylv commented on #61
could  you commit the code? I added you as collaborator, as discussed.
but not forget please to add the parameters descriptions in function headers))

[2016-03-11 16:11] samoylv commented on #63
yes, it would be great if you could send the example to me and Alexey

[2016-03-11 16:20] samoylv commented on #62
Agreed, will add in the next update.

[2016-03-11 18:15] samoylv commented on #16
get_intensity() is the name of Wavefront method
bit-mask can be implemented as an aperture in most cases

[2016-03-11 18:15] #16 closed

[2016-03-14 13:48] CFGrote opened #65 "Examples not working"
I tried pythoh SRWLIB_Example??.py, but get
Traceback (most recent call last):
  File "SRWLIB_Example01.py", line 8, in <module>
    from srwlib import *
  File "/home/grotec/Work/XFEL/Codes/WPG/wpg/srwlib.py", line 6, in <module>
    from . import srwlpy as srwl
ValueError: Attempted relative import in non-package

Are they meant to work or just for reference?

I really recommend unittesting and

[2016-03-14 14:18] buzmakov commented on #65
This files are original SRW examples. We are not use it, but keep as an examples.

We use tutorials https://github.com/samoylv/WPG/tree/develop/samples/Tutorials for checking consistence of WPG.

[2016-03-14 14:18] samoylv commented on #65
well,
* SRWLIB_ExampleXX.py are SRW examples from Oleg, they are copied 'as-is'.
@buzmakov : could you comment on errror? is this somehow connected with migration to py 3?
* the idea about regressive testsuite for patches sounds good, but your link goes to Error 404 page...
* we can discuss the issue if such examples are meant to work this week with the team involved in SRW development...

[2016-03-14 14:30] CFGrote commented on #65
ok, i understand.
 correct link is

https://github.com/eucall-software/simex_platform/tree/master/python/unittest

[2016-03-14 15:03] CFGrote opened #66 "py3 clashes"
I still get traces of the following sort when using prop module in s2e:

File "/home/grotec/Work/XFEL/Codes/SIMEX/simex_new_cmake/sw/lib/python/prop/propagateSE.py", line 165, in propagate
    wf.load_hdf5(in_fname)
  File "/home/grotec/Work/XFEL/Codes/SIMEX/simex_new_cmake/sw/lib/python/wpg/wavefront.py", line 188, in load_hdf5
    self._update_from_dict(utils.load_dict_slash_hdf5(file_name))
  F

[2016-03-16 09:36] CFGrote commented on #63
see memory log and script used to generate it attached. it's not as bad as i recollect but still worthwhile exploring if time.
![wpg_memlog](https://cloud.githubusercontent.com/assets/15476807/13807705/cf6768b2-eb62-11e5-89d1-74e613d7979d.png)

"""
"""

from __future__ import absolute_import
from __future__ import division
from __future__ import print_function
from __future__ import unicode_litera

[2016-03-23 12:48] samoylv commented on #66
@buzmakov - your comments?

[2016-03-23 12:52] samoylv commented on #62
Mirror_plane() added

[2016-03-23 12:52] #62 closed

[2016-03-23 12:57] samoylv commented on #60
one should find a suitable cmap at server, for older matplotlib  installation...

[2016-03-24 11:34] buzmakov commented on #66
Please check it ant close if all fixed

[2016-03-24 12:50] buzmakov commented on #65
I remove SRW examples from wpg directory to do not confuse users, They are still available in build/tmp/SRW/env/work/srw_python

[2016-04-06 11:43] samoylv commented on #66
yes, certainly. sorry for too late comment

[2016-04-07 12:59] samoylv commented on #66
@CFGrote: could you please check? installed at the server, under .../beta/WPG/

[2016-04-07 12:59] samoylv commented on #65
ok

[2016-04-07 12:59] #65 closed

[2016-04-07 13:00] CFGrote commented on #66
ok will check

[2016-04-07 13:10] samoylv commented on #61
\+ fixed  a bug with  x/y projections fixed   [here](https://github.com/samoylv/WPG/commit/131f4a5ed7f442f834c0c8156bae1f39efac4fc2#diff-a79c65cc56f661ae1aa8af5d8862f246L135)

[2016-04-07 13:10] #61 closed

[2016-04-07 13:14] samoylv commented on #51
+ well, in cdr2011 there is the formula only for hard x-rays, i.e. s1
+ modify `calculate_theta_fwhm_cdr_s3()` to SCS CDR empirical formula

[2016-04-07 13:16] CFGrote commented on #66
looks ok in the server beta installation. have to make sure that this fix goes into simS2E and simex as well. guess when you push to develop those will automatically  catch up.

closed.

[2016-04-07 13:16] #66 closed

[2016-04-07 13:22] samoylv commented on #66
OK, thanks!
@buzmakov :
please update the /latest/ installation on server before checking simex environments,unless I let you explicitly know that I did it (I am still working on Xtal propagator)

[2016-04-08 15:01] buzmakov commented on #66
I update the /latest/ installation on server

On Thu, Apr 7, 2016 at 4:22 PM, samoylv <notifications@github.com> wrote:

[2016-04-08 16:23] samoylv commented on #66
@buzmakov thanks a lot! It would be great if you could compile the readthedocs, I've just updated the guidelines for running on xfel server.

[2016-04-09 09:28] buzmakov commented on #66
done

On Fri, Apr 8, 2016 at 7:23 PM, samoylv <notifications@github.com> wrote:

[2016-04-21 13:04] samoylv opened #67 "wf.load_hdf5() does not work with python3?"
[code]

`filename` - h5 file generated by [xpd](https://in.xfel.eu/xpd/)

keys_string = keys_string.decode('utf-8')
AttributeError: 'str' object has no attribute 'decode'

[2016-04-21 15:03] buzmakov commented on #67
Fixed version updated on server

On Thu, Apr 21, 2016 at 4:04 PM, samoylv <notifications@github.com> wrote:

[2016-04-21 15:29] samoylv commented on #67
well, now there is a problem with load_hdf5 in python 2.7:
in wavefront.py l.71, https://github.com/samoylv/WPG/blob/develop/wpg/wavefront.py#L71
Type Error "must be char, not unicode"

[2016-04-21 16:27] samoylv commented on #67
fixed, updated in latest/

[2016-04-21 16:27] #67 closed

[2016-04-25 08:55] samoylv opened #68 "get_limits() output: zero values for 'qxMax' and 'qyMax' in Q-space"

[2016-04-25 12:04] samoylv commented on #68
@buzmakov: could you check if you also reproduce it? see tmp_a.h5 in root of  my directory at st314

[2016-05-02 14:04] buzmakov opened #69 "Tutorial_case_3_new_featured not finished yet?"
Tutorial execution crashet at the cell 'Defining OPD for HKB and VKB' with error `NameError: name 'opTrErM1' is not defined`

Is it error in script or tutorial not finished yet?

[2016-05-02 14:52] #69 closed

[2016-05-03 09:10] buzmakov commented on #60
RdBu colormap exist on exflst314 for python 2 and python 3 installation

[2016-05-03 09:56] CFGrote commented on #60
ok. that's a good choice for phase maps. in the absence of viridis in
py2, i suggest YlGbBu_r (min = dark blue, max = bright yellow,
perceptually monotonic in between) for amplitudes.

carsten

On 05/03/2016 11:10 AM, Alexey Buzmakov wrote:

--
--
Carsten Fortmann-Grote
Scientist
European XFEL GmbH

Mail: carsten.grote@xfel.eu
Phone: +49 (0)40 8998 5603

[2016-05-04 11:59] #60 closed

[2016-05-04 12:00] buzmakov commented on #68
@samoylv  Can close it?

[2016-05-04 13:28] buzmakov commented on #57
Is it really should be ```slice_number=0``` in
[code]
or we should sum along z-axis?

[2016-05-04 15:24] samoylv commented on #57
we should sum I think

[2016-05-04 15:27] samoylv commented on #52
in Tutorials this function should be replaced with calculate_theta_fwhm_cdr_s1/s2 from `wpg_uti_exfl.py`

[2016-05-04 15:27] #52 closed

[2016-05-04 15:36] samoylv commented on #42
for 3d moment see https://en.wikipedia.org/wiki/Skewness

[2016-05-06 11:53] #68 closed

[2016-05-13 12:46] buzmakov opened #70 "Add visualization near the focus in beamlines"

[2016-05-13 14:47] samoylv commented on #70
i.e. day 1 - CRL

[2016-05-16 08:16] buzmakov opened #71 "Add support for only one polarization for Wavefront"
If we will keep only one polarization in wavefront, this may decrease memory usage and propagation time in 2 times

[2016-05-17 06:58] samoylv commented on #71
yes, agreed. but SRW wavefront structure has 2 polarizations, how one can cope with that?

[2016-05-17 07:10] CFGrote commented on #71
how about having an option "polarizated" or similar that tells srw to calculate only one polarization?

[2016-05-17 07:31] samoylv commented on #71
1) well, seems we have one for s2e, Zoltan asked about that. but such type of modification in SRW could become an issue. nevertheless even on storage and reading/writing of the wavefronts one can also gain a lot.

we should open a ticket in SRW as well - as soon as i remember there is no such an option.

[2016-05-23 09:18] samoylv opened #72 "2"
Last year I have used your WPG code to write my Bachelor thesis. My supervisor is Sebastian Rohling. Now  we want to simulate the influence of all SDU mirrors concerning the interfernce patterns in vertical and horizontal direction. But therefor we need a function which takes into account the 2D mirror profil. The function:

AuxTransmAddSurfHeightProfileScaled(optSlopeErr, heightProfData, dim, ang

[2016-05-23 09:19] #72 closed

[2016-05-23 09:21] samoylv opened #73 "propagator for 2D mirror profile"
Last year I have used your WPG code to write my Bachelor thesis. My supervisor is Sebastian Rohling. Now  we want to simulate the influence of all SDU mirrors concerning the interfernce patterns in vertical and horizontal direction. But therefor we need a function which takes into account the 2D mirror profil. The function:

AuxTransmAddSurfHeightProfileScaled(optSlopeErr, heightProfData, dim, ang

[2016-05-23 11:32] CFGrote opened #74 "Segfault in srw"
[wpg_debug.zip](https://github.com/samoylv/WPG/files/277362/wpg_debug.zip)

I get a segfault in in srTGenOptElem::GetCellDataForInterpol  at sroptelm.h:348. To reproduce, extract attached container and run WavePropagatorTest_debug.py after adjusting the path to wpg in line 5.

Here's a trace of a gdb session to locate the exception.

See also [https://github.com/eucall-software/simex_platform/issu

[2016-05-23 16:45] samoylv commented on #73
in the propagator  [Mirror_plane](https://github.com/samoylv/WPG/blob/develop/wpg/optical_elements.py#L324) one should use functions [srwl_opt_setup_surf_height_1d()](https://github.com/samoylv/WPG/blob/develop/wpg/srwlib.py#L2864) or [srwl_opt_setup_surf_height_2d](https://github.com/samoylv/WPG/blob/develop/wpg/srwlib.py#L2977) in dependence of a flag/file format

[2016-05-27 12:17] buzmakov commented on #74
Segfault happens only with python2.
Python3 work fine.

[2016-05-27 12:20] samoylv commented on #74
does it mean that there is a problem with memory allocation on python2?

[2016-05-27 12:21] buzmakov commented on #74
Hmm, on second run script work fine without segfault.

[2016-05-27 12:21] samoylv commented on #63
@buzmakov: could it be connected with #74 ?

[2016-05-27 12:23] buzmakov commented on #74
No, this is not a problem with memory.

[2016-05-27 12:24] CFGrote commented on #74
i observed the same, does not segfault in every run. this is typical for
memory misallocation.

On 05/27/2016 02:21 PM, Alexey Buzmakov wrote:

--
--
Carsten Fortmann-Grote
Scientist
European XFEL GmbH

Mail: carsten.grote@xfel.eu
Phone: +49 (0)40 8998 5603

[2016-05-27 12:26] CFGrote commented on #74
how can you be sure?

On 05/27/2016 02:23 PM, Alexey Buzmakov wrote:

--
--
Carsten Fortmann-Grote
Scientist
European XFEL GmbH

Mail: carsten.grote@xfel.eu
Phone: +49 (0)40 8998 5603

[2016-05-27 12:30] buzmakov commented on #74
I can't be absolutely sure, but have feel that problem with building wavefront from hdf5.
We have similar problem with hdf5 file, when order of reading values has matter.

[2016-06-03 12:37] samoylv opened #75 "tiny openMP testsuite for simex"
- environment for SRW Example 9
- gaussian pulse instead of SASE

[2016-06-07 12:43] samoylv opened #76 "s2e/prop: add loading beamline parameter in current module"
в файле бимлайна  сделать функции с параметрами ( как это сделано в day1)?

[2016-06-13 09:15] samoylv opened #77 "FLASH beamline example"
in addition:
- make FFT of bl2 and bl3 profiles
- look through / ask Frank if the profiles are published in https://github.com/srio/dabam

[2016-06-13 13:15] samoylv opened #78 "add the surface generating code from IVK"
find  how to include MKL intel library
replace random gaussian distr generation functioon to intle MKL one
...
guidelines for running fortran code

[2016-06-14 12:05] Angelrf86 opened #79 "WPG Anaconda 3.5 error (importing) while running in Windows Tutorial sample"
Hello,
While using Anaconda 3.5 to run the Tutorials samples at WPG. I have had problems while importing the lib necessary for the different examples Tutorials. It seems the problem comes for a wrong path description, as says file not find.

An example of the previous said:
The command line is the following
import srwlpy as srwl ---> No find file to import
-------------
The problem seems to be sol

[2016-06-14 12:58] samoylv commented on #79
the problem (as soon as I remember) is the following:
one has to add  `wpg.`  in most of import directives of the srw python files used
@Angelrf86 am I right?

[2016-06-14 13:25] Angelrf86 commented on #79
Yes, that was the problem we were having last Friday

[2016-06-15 18:54] buzmakov commented on #79
It is issue in isntallation instructions for Windows,
Now you not need copy *.py file form SRW sources. (srwlib.py rewrite good version)

[2016-06-16 15:39] Angelrf86 commented on #79
Hi @buzmakov,

Starting from a new unzip folder. Should I copy all the examples and files (*.py)  from the SRW source to wpg?
Is the second step, to copy the file SRWLIB.py file from the folder lib in SRW what I should Skip?

If both are affirmative, I have a error while running the file SRWLIB_example14.py, the error says error importing "DLL load failed:The specified module could not be found" r

[2016-06-16 20:21] buzmakov commented on #79
Hi @Angelrf86 ,
I try to fix installation issues on Windows, but now I'm on vacations and have low connectivity, so I can't check all configurations.
I check it with Anaconda python 3.5.1 x64.
All fixes now  in separate wpg branch https://github.com/samoylv/WPG/tree/feature/windows_issues .
You can download zip file from here: https://github.com/samoylv/WPG/archive/feature/windows_issues.zip

1) U

[2016-06-16 20:37] samoylv commented on #79
@buzmakov Alexey, thank you! Unfortunately I have no chance to ask anybody else to test it on Windows at XFEL: everything is packed for move this weekend to Schenefeld...

[2016-06-17 15:22] Angelrf86 commented on #79
Dear @buzmakov,
Thanks for your help, the Tutorials are running properly. Also the %matplotlib inline command.
While runing the Exmaple 14 from SRW we are having the follwoing message:
Plotting the results (blocks script execution; close all graph windows to proceed) ... done​
For this I have had to change the import file from:
import swrlib
to
import wpg.swrlib.
Hope not to have disturb you a lot

[2016-06-29 11:17] CFGrote opened #80 "CRL calc fails with delta numpy.array"
This snippet raises:
`
### Define CRL
        crl_focussing_plane = 3 # Both horizontal and vertical.
        crl_delta = numpy.linspace(4.8e-6, 4.9e-6, 101)  # Dummy numbers)
        crl_attenuation_length  = numpy.linspace(6.5e-3, 6.2e-3, 101) #Dummy numbers)
        #crl_delta = 4.8308e-06 # Refractive index decrement (n = 1- delta - i*beta) @ 8.4 keV
        #crl_attenuation_length  = 6.053e-3

[2016-07-08 14:30] samoylv commented on #75
real testsuite must be created for regular testing

[2016-07-08 14:30] #75 closed

[2016-07-08 14:57] samoylv opened #82 "test suite for [regression] testing?"
it is urgently needed for open MP simex modified SRWLib
good to have for WPG update testing

simple 'beamlines':
- resizing a wavefront
- switching between time and freq domains (t-dependent Gaussian)
- drift on short distance
  - with different propagation parameters
- example beamlines

output
- switch on and off visualization
- compare ascii files symbol by symbol?

@buzmakov : where to put it?

[2016-07-08 15:06] samoylv commented on #73
On 17/06/16 10:59,  VK wrote:

Yes, the usage of `srwl_opt_setup_surf_height_1d`, `_2d()` functions look different: they return the Transmission element structure which you should use as the propagator further. In your code the transmission element structure is not filled with real data and contains zeros in real part, that makes your intensity also zero.

You need not to create this structure sep

[2016-08-26 13:19] samoylv commented on #82
we agreed that @CFGrote started doing this at simex_platform, see Tests/python/functest/SimExTest/Backengines/WPG/ (in develop branch)

[2016-08-26 13:19] #82 closed

[2016-08-26 13:31] samoylv commented on #80
to @buzmakov: we can open an SRW issue or make some wrapper in WPG CRL propagator, see below. Your opinion?

if list() can be apply to any array, use
[code]

[2016-08-26 13:33] samoylv commented on #80
well, `if len(_delta) > 1: _delta = list(_delta)`, etc

[2016-08-26 13:46] samoylv commented on #57
to @buzmakov what wrong with Tutorials ?

[2016-08-26 13:48] #42 closed

[2016-08-26 13:52] samoylv commented on #51
wrong link to fixing issue
not fixed yet, should be modified [here](https://github.com/samoylv/WPG/blob/develop/wpg/wpg_uti_exfl.py#L23)

[2016-08-26 13:53] #79 closed

[2016-08-26 14:22] samoylv opened #83 "make a generalized transmission type OE propagator"
which takes two 2D __numpy__ arrays of the same dimensions (nx,ny) , with transmission coeff for amplitude and OPD and returns Transmission type Optical Element , like here, but without multiplying by sinAng, etc.
[code]

[2016-08-26 14:31] samoylv opened #84 "add a support for 2D mirror height error maps"
1. reading:
x,y,height = numpy.loadtxt()
2. interpolation:
see [here](https://docs.scipy.org/doc/scipy/reference/tutorial/interpolate.html#two-dimensional-spline-representation-procedural-bisplrep)
3. processing:
in dependence of orientation, multiply x or y by sin(theta), and opd = - 2*height*sin(theta), or, for grating
opd = -height*(sin(theta_0)+sin(theta_R))
4. creating OE:
see #83

[2016-08-29 06:15] CFGrote commented on #80
i thought this was fixed in branch issue80 (commit
32a5efa524c7c38d7414ad36db42f011939636a8) and merged by pull request
(commitd0603a0db4cac5cc390b50c9c7b9730d1caf4535).

carsten

On 08/26/2016 03:33 PM, samoylv wrote:

--
Dr. Carsten Fortmann-Grote
Scientist for Scientific Simulations / Wissenschaftler fuer
wissenschaftliche Simulationen
European XFEL GmbH
Holzkoppel 4
22869 Schenefeld
Germany

P

[2016-08-29 08:23] samoylv commented on #80
mm, interesting. I had a feeling that srslib.py is copied from SRW. Now I see it and other srw*.py scripts in WPG. @buzmakov : your comments?

[2016-09-01 09:42] samoylv commented on #73
moved to issue #84

[2016-09-01 09:42] #73 closed

[2016-09-01 09:48] samoylv commented on #84
before adding the propagator to optical_elements.py, the real mirror length and width should be added
[code]

[2016-09-01 12:39] buzmakov commented on #80
Yes, it is already merged in WPG  https://github.com/samoylv/WPG/pull/81

We keep our own copy of https://github.com/samoylv/WPG/blob/develop/wpg/srwlib.py to fast merge bugfixes

[2016-09-01 13:16] samoylv commented on #80
OK
 is there any standard procedure to merge updates from github.com/../SRW/srwlib.py as well? can one easily compare these two files?

[2016-09-01 13:27] buzmakov commented on #80
It is not automatic procedure. After Oleg's updates I merge this files manually to keep our changes.

[2016-09-01 13:30] samoylv commented on #80
OK, I see. Closed

[2016-09-01 13:30] #80 closed

[2016-09-01 21:04] CFGrote commented on #80
not sure i understand correctly, but you can always git diff commit1
commit2, also across branches if both up to date locally.

does that help?

carsten

On 09/01/2016 03:16 PM, samoylv wrote:

--
Dr. Carsten Fortmann-Grote
Scientist for Scientific Simulations / Wissenschaftler fuer
wissenschaftliche Simulationen
European XFEL GmbH
Holzkoppel 4
22869 Schenefeld
Germany

Phone: +49 (0)40 8998-5603

[2016-09-02 12:56] samoylv commented on #80
well, locally one can compare srwlib.py files from SRW and WPG, what Alexey
does every time for merging as I understood. But I do not think it is
feasible using git options, because each file is from different repository,

Liuba

On Thu, Sep 1, 2016 at 11:04 PM, Carsten Fortmann-Grote <
notifications@github.com> wrote:

[2016-09-03 12:14] CFGrote commented on #80
see here http://tinyurl.com/zxhddth for some options to do git diff
across repo and alternative suggestions.

carsten

Dr. Carsten Fortmann-Grote
Scientist for Scientific Simulations / Wissenschaftler fuer
wissenschaftliche Simulationen
European XFEL GmbH
Holzkoppel 4
22869 Schenefeld
Germany

Phone: +49 (0)40 8998-5603
Fax:   +49 (0)40 8998-1905
Email: carsten.grote@xfel.eu
Web: www.xfel.eu

Mana

[2016-09-05 06:45] samoylv commented on #80
I see, good link, thanks

On Sat, Sep 3, 2016 at 2:14 PM, Carsten Fortmann-Grote <
notifications@github.com> wrote:

[2016-09-05 10:26] samoylv commented on #84
how add limits:
[code]

[2016-09-05 11:42] CFGrote commented on #63
still present:
![screenshot from 2016-09-05 13-40-42](https://cloud.githubusercontent.com/assets/15476807/18246827/82641ee0-736e-11e6-9519-df08dac59731.png)

[2016-09-05 12:38] buzmakov commented on #78
Can we attach fortran code to this issue or it is private?

[2016-09-05 12:41] buzmakov commented on #63
Python has I'ts own garbage collector, so I even say 'del object_name'
python may keep it in memory until GC runs.

if you use IPython notebooks for calculations please use '%xdel  wf1,
crl_to_exp_beamline' instead 'del  wf1, crl_to_exp_beamline'. This tell
IPython remove objects from cache.

I'll look on it more accuralty.

пн, 5 сент. 2016 г. в 14:42, Carsten Fortmann-Grote <
notifications@githu

[2016-09-05 12:43] buzmakov commented on #84
Is it a question or suggestion?

[2016-09-05 12:48] samoylv commented on #78
I think we can, nothing specific

On Mon, Sep 5, 2016 at 2:38 PM, Alexey Buzmakov <notifications@github.com>
wrote:

[2016-09-05 12:50] samoylv commented on #84
suggestion. Any comments?

[2016-09-05 13:04] buzmakov commented on #78
Вот код для портирования
[code]

[2016-09-06 09:51] samoylv commented on #74
@CFGrote: could you provide more details on the environment? I was not able to reproduce the segmentation fault neither with Python 3.4 on my Macbook, not with Python 2.7 on the server.

I use the script and data you provide with reading the WF from hdf5 file

[2016-09-06 09:54] samoylv opened #85 "make module for adding at server"
similar to
see email thread with Carsten on 05.09.2016

[2016-09-07 12:55] samoylv opened #86 "create 'sandbox' folder for simple examples"
namely

- [ ] hdf5 data load and visualization
- [ ] srw wavefront saving as hdf5 for further analysis
- [ ] looking into far field == angular space representation
- [ ] set of examples with each propagator

- tbd

[2016-09-14 16:26] samoylv commented on #74
I installed simex_platform in reduced form (only WPG module) at the xfel server and was not able to reproduce the segmentation fault error with Python 2.7, it runs smoothly for hdf5 file.
@CFGrote  At what machine did you observe  the behaviour? Can we meet briefly and look at that?

[2016-09-14 19:55] CFGrote commented on #74
sure. i'm a bit on and off this week due to daughter starting
kindergarden. what's your day look like tomorrow? around 3pm?

carsten

Dr. Carsten Fortmann-Grote
Scientist for Scientific Simulations / Wissenschaftler fuer
wissenschaftliche Simulationen
European XFEL GmbH
Holzkoppel 4
22869 Schenefeld
Germany

Phone: +49 (0)40 8998-5603
Fax:   +49 (0)40 8998-1905
Email: carsten.grote@xfel.eu
Web: ww

[2016-09-15 05:46] samoylv commented on #74
Ok, let's try

[2016-09-22 13:37] samoylv commented on #86
see wpg_tutorial repo

[2016-09-22 13:37] #86 closed

[2016-09-22 13:39] samoylv commented on #84
see

[2016-09-22 13:39] samoylv commented on #84
implemented  [here](https://github.com/samoylv/WPG/blob/develop/wpg/optical_elements.py#L349)

[2016-09-22 13:39] #84 closed

[2016-09-22 13:44] samoylv opened #87 "move createCRL() function from wpg tutorial 3 to optical_elements.py"

[2016-10-04 12:20] buzmakov commented on #87
Fixed in 0c8b397

[2016-10-04 12:20] #87 closed

[2016-10-06 09:29] buzmakov opened #88 "Add check consistency of wpg files"
Check is wpg files modified by user.
On Sos workshop srwlpy of some users was broken.

[2016-10-10 16:46] samoylv opened #89 "feature/srw_update - misprint in SRW distributive?"
https://github.com/buzmakov/SRW/commit/b89f165bfdd4cff6968b84f1b98247161d413622

[2016-10-10 17:12] samoylv commented on #89
did not help, with this makefile
https://github.com/buzmakov/SRW/blob/feature/srw_lite_update/Makefile
one gets the following error (with or without correction mentioned above):

[code]

[2016-10-10 17:46] buzmakov commented on #89
It is seems that is a bug in SRW Makefile.
I'll try fix it

пн, 10 окт. 2016 г. в 20:12, samoylv <notifications@github.com>:

[2016-10-11 15:37] mrakitin commented on #89
Please try to use my file https://github.com/mrakitin/SRW/blob/master/Makefile. That should fix the issue with `make all`. More details in https://github.com/mrakitin/SRW/issues/13.

[2016-10-11 16:09] mrakitin commented on #89
Lyuba, Alexey, do you have `python-dev` package installed? It's required since it provides `Python.h` header file. See https://github.com/mrakitin/SRW/issues/14 for more details.

[2016-10-11 16:51] buzmakov commented on #89
Yes,  sure we have.
The problem is no in building srwlpy.cpython-35m-x86_64-linux-gnu.so file.
The problem is that that Makefile try copy srwlpy.so not
srwlpy.cpython-35m-x86_64-linux-gnu.so.

We can discuss it shortly using Skype,  if you have possibility.

вт, 11 Окт 2016 г., 19:09 Maksim Rakitin <notifications@github.com>:

Lyuba, Alexey, do you have python-dev package installed? It's required

[2016-10-11 18:33] mrakitin commented on #89
Why do you need `srwlpy.cpython-35m-x86_64-linux-gnu.so`? As far as I know, only `cpp/gcc/srwlpy.so` is created during compilation. That compiled file is being copied by `make`. Is it different in your case?

[2016-10-11 19:23] mrakitin commented on #89
Alexey, I was able to reproduce the issue with `srwlpy.cpython-35m-x86_64-linux-gnu.so` on my Anaconda3 environment:
[code]
It looks like Anaconda's python is tweaked to produce this long name, not just `srwlpy.so`. Your fix in https://github.com/buzmakov/SRW/commit/702eac5ba94a4ced343ffdb7d295fcf582144147 looks reasonable, I'll implement it in my branch of SRW. Thanks for the hint!

[2016-10-11 20:47] mrakitin commented on #89
Please see my fix in https://github.com/mrakitin/SRW/commit/2421b18923a4bb7314067455863f412f028d73c3. Please note, that the `clean` directive in the main `Makefile` should be updated as well to have a comprehensive solution.

[2016-10-11 20:55] samoylv commented on #89
BTW, I observed the same behaviour with
OS X, Yosemite 10.10.5
python and other packages were installed using macport (no Anaconda)
with the fixed makefile it runs smoothly

[2016-10-12 03:46] mrakitin commented on #89
Glad to hear :)

[2016-10-12 06:06] samoylv commented on #89
Actually, with the fix made by Alexey))
I just mentioned that  it is not Anaconda thing, but more general.
I am not sure if it is a feature for Py 3  environment only.
Thanks a lot for fast feedback

[2016-10-12 09:34] Angelrf86 commented on #89
Thank you!
Angel

[2016-10-12 13:19] mrakitin commented on #89
Yes, Alexey suggested a great and simple fix, we implemented it in our SRW versions. Thanks Alexey!

[2016-10-14 13:18] samoylv commented on #89
resolved

[2016-10-14 13:18] #89 closed

[2016-10-14 13:19] samoylv commented on #88
not implemented yet?

[2016-10-14 13:19] buzmakov commented on #88
no, it is not trivial

On Fri, Oct 14, 2016 at 4:19 PM, samoylv <notifications@github.com> wrote:

[2016-10-14 13:21] samoylv commented on #74
waiting for reproducible environment, closing now

[2016-10-14 13:21] #74 closed

[2016-10-17 15:03] samoylv opened #90 "to be included in FAQ"
from my own experience:

- when you switch from Py 2.7 to Py 3 or vice versa, do not forget rebuild the library, i.e.
`make clean; make all`

- use `from pprint import pprint; pprint(sys.path)` to see your sys.path

[2016-10-17 16:30] samoylv opened #91 "ipython notebook kernel died with openMP"
python 2.7 + openMP + ipython notebook:
example02 kernel every time died in cell for the propagation through beamline
srw_update without openMP  runs smoothly under Py2 and Py3
- [ ] check how it works in pure python environment

[2016-10-18 10:02] samoylv opened #92 "CRL disp calc fails with Py2"
calculation CRL with dispersion under Py 2.7

[this line](https://github.com/samoylv/WPG/blob/feature/srw_update/wpg/srwlib.py#L2836) brings TypeError: only length-1 arrays can be converted to Python scalars

[2016-10-18 10:14] buzmakov commented on #92
Could you please provide simple test to reproduce this error?

On Tue, Oct 18, 2016 at 1:02 PM, samoylv <notifications@github.com> wrote:

[2016-10-18 10:17] samoylv commented on #92
tutorial3_beamline_focusing_CRL_disp.ipynb, running on Py 2.7
in cell 12

[2016-10-18 10:26] samoylv commented on #92
BTW, numpy.exp() in srwlib.py does not help

[2016-10-21 15:02] samoylv opened #93 "s2e/prop: create a prop tutorial notebook"
- [ ] add parameter in beamline file
- [ ] define tutorial notebook content (notebook headings)
- [ ]

[2016-10-21 15:02] samoylv commented on #76
moved to #93

[2016-10-21 15:02] #76 closed

[2016-10-21 15:04] samoylv commented on #70
postponed for next year

[2016-10-21 15:04] #70 closed

[2016-10-21 15:05] samoylv commented on #48
postponed until next year

[2016-10-21 15:05] #48 closed

[2016-10-21 16:09] buzmakov commented on #92
We should pass parameters for srwl_opt_setup_CRL as **list**
[code]

May be we should check it in our wrapper create_CRL_....

[2016-10-21 20:18] samoylv commented on #92
good point. it was also fix from @CFGrote  #80 - is that the same issue?

[2016-10-21 20:21] samoylv opened #94 "check correctness of parameters in create_CRL_.... wrapper"
check, if parameters for srwl_opt_setup_CRL (delta, atten_length) are passed as a list or single number

[2016-10-21 20:24] samoylv opened #95 "merge Mirror_plane local updates"
in optical_elements.py

[2016-10-27 13:40] samoylv opened #96 "params/beamline in not saved in history"
e.g. (1)  to focusing optics aperture (2) from this aperture to set of distances around focal spot causes - params/beamline/printout contains the very first one
the commands:
[code]
is it because params/beamline/printout is defined as custom field?

[2016-10-28 08:51] samoylv commented on #96
not a bug, with load wavefront before second propagation beamlines are saved properly

[2016-10-28 08:51] #96 closed

[2016-12-05 08:28] samoylv opened #97 "default value for wavefield units"
should be 'sqrt(W/mm2)'

[2016-12-08 10:47] buzmakov opened #98 "Review prop beamlines"
Try to separate S2E and day1

[2016-12-09 12:54] buzmakov opened #99 "Create pipy package"
To allow users install wpg just ``pip install wpg```

[2016-12-09 12:55] buzmakov opened #100 "Create conda package"
To allow users install 'conda install wpg'

[2016-12-13 20:22] CFGrote opened #101 "Diagnostic plots"
The utility plot_t_wf in wpg.wpg_uti_wf produces two plots, one for average intensity as function of time and one for intensity as function of x-y plus projections in x and y.

i suggest splitting this up into two distinct utilities, one for time plot, one for x-y plot, expose both to users and maybe keep plot_t_wf as a wrapper that calls both new functions (for backwards compat.).

also naming ca

[2016-12-13 20:25] CFGrote commented on #101
While at it, can we also have utility that plots phase distribution in x-y?

[2016-12-16 09:04] samoylv commented on #98
1) i.e. rename beamlines
2) spb kb beamline: update elliptical mirror propagators (now in in my_s2e_beamline.py), should be:
[code]

[2016-12-16 14:00] CFGrote commented on #98
Done in branch update_prop_beamlines

[2016-12-21 08:01] CFGrote commented on #98
See pull request #102

[2016-12-23 20:06] buzmakov opened #103 "Create test for prop"
We definitely should add test to prop in our test suite.
@samoylv could you suggest me parameters how to run the test without downloading big hdf5 with pulse (may be use small Gaussian beam?)

[2016-12-24 06:12] samoylv commented on #103
I will do it ASAP,  probably tomorrow. A guess for KB case : 4.96 keV
Gaussian, 0.5 fs pulse duration, 5 urad FWHM divergence

On 23 Dec 2016 11:06 p.m., "Alexey Buzmakov" <notifications@github.com>
wrote:

[2016-12-24 06:16] samoylv commented on #103
For day 1 case the same source parameters as for samples/beamlines/s1_spb*.
BTW one can try the same source for KB as well

On 24 Dec 2016 9:12 a.m., "Ljuba Samoilova" <xljuba@gmail.com> wrote:

[2016-12-28 11:43] samoylv opened #104 "create S1 KB beamline in samples/"
parameters:
- E 4.96 keV
- Gaussian pulse duration 0.5 fs
- 3 beamlines for 3 different FWHM beam divergence (nz 20, 35 and 50)

[2016-12-28 11:44] samoylv commented on #103
the following prop tests one can use:

- [ ] made of samples/beamlines/S1_SPB_CRL_mirrors

- [ ] made of samples/beamlines/S1_SPB_KB_mirrors, see issue #104

[2016-12-28 15:41] samoylv commented on #101
well, on last comment: phase distribution makes sense only for slices, not for pulse projection
1.  plot_t_wf is renamed  in plot_wf() because it can be used for plotting wave front in time and frequency domain. For back compatibility, there is a wrapper for plot_t_wf() there
2. time / spectrum plots are the result of averaged_intensity(wf, bPlot=False) function, its return value was used  only fo

[2016-12-29 10:52] CFGrote commented on #101
sounds good to me.

On 12/28/2016 04:41 PM, samoylv wrote:

--
Dr. Carsten Fortmann-Grote
Scientist for Scientific Simulations / Wissenschaftler fuer
wissenschaftliche Simulationen
European XFEL GmbH
Holzkoppel 4
22869 Schenefeld
Germany

Phone: +49 (0)40 8998-5603
Fax:   +49 (0)40 8998-1905
Email: carsten.grote@xfel.eu
Web: www.xfel.eu

Managing Directors: Prof. Dr. Massimo Altarelli, Dr. Claudia

[2017-01-02 14:46] samoylv opened #105 "add link to XPD and Rest API docs"
https://in.xfel.eu/xpd/doc/Rest_API.html

[2017-01-13 16:52] samoylv commented on #101
final names:
**plot_intensity_map**,
**integral_intensity** <-- optionally (bPlot=True) plots temporal structure/spectra
**plot_intensity_qmap**

[2017-01-13 16:55] #101 closed

[2017-01-13 17:01] samoylv opened #106 "utuility function are missing in docs ?"
@buzmakov: how to add modules wpg_uti_*.py in [WPG docs](http://wpg.readthedocs.io/en/latest/index.html)?

[2017-01-16 09:53] buzmakov commented on #106
One should create file for each wpg_uti_*.py like https://raw.githubusercontent.com/samoylv/WPG/develop/docs/optical_elements.rst and add reference in https://raw.githubusercontent.com/samoylv/WPG/develop/docs/index.rst

[2017-01-16 10:09] samoylv commented on #106
1) I see, it is not generated automatically. BTW in optical elements rst-file  some available optical elements are not listed. Does it mean that they should be updated?
2) only one recvord should be in every file (see below), then all the functions in the file will be included?
:mod:`wpg.wpg_uti_wf` module
----------------------------------

.. automodule::wpg.wpg_uti_wf
    :members:
    :undoc-m

[2017-01-16 10:17] buzmakov commented on #106
1) I add aliases to SRW optical elements manually ( I don't remember why, but it work)
2) I think yes. I don't remember exactly.

[2017-01-16 10:27] #98 closed

[2017-01-16 10:33] samoylv commented on #94
fixed  [here](https://github.com/samoylv/WPG/commit/32a5efa524c7c38d7414ad36db42f011939636a8#diff-0706f8a1134f409561ca09b561c16e05L2726)

[2017-01-16 10:33] #94 closed

[2017-01-16 10:34] samoylv commented on #92
@buzmakov fixed?

[2017-01-16 10:50] samoylv opened #107 "interface with GENESIS"
[converter_GENESIS_wpg.zip](https://github.com/samoylv/WPG/files/708070/converter_GENESIS_wpg.zip)

[2017-01-16 13:24] #91 closed

[2017-01-16 19:53] CFGrote commented on #107
sorry if this is off-topic: we should not re-invent the wheel: OCELOT
(G. Geloni et al) provides (to my knowledge) a very well maintained py
interface to GENESIS.

carsten

On 01/16/2017 11:50 AM, samoylv wrote:

--
Dr. Carsten Fortmann-Grote
Scientist for Scientific Simulations / Wissenschaftler fuer
wissenschaftliche Simulationen
European XFEL GmbH
Holzkoppel 4
22869 Schenefeld
Germany

Phone: +

[2017-01-17 08:27] samoylv commented on #107
Here we are talking about only the transformation of hdf5 output of [GENESIS  version 3](http://genesis.web.psi.ch/) to hdf5 file suitable for further propagation with WPG.
Certainly it would be great if Ocelot interface to GENESIS can support saving in the same format - TBD

[2017-01-20 15:42] tmazza79xfel opened #108 "wrong energy2wl conversion factor"
the conversion factor from energy to wavelength throughout many scripts is sometimes 12.39, sometimes 12.40. the latter is definitely more accurate than the former, which is simply wrong. Anyway I normally use 12.398.

[2017-01-31 14:23] samoylv commented on #106
implemented in [5921a0852aecff278e3d1a6eff62cab16901cf92](https://github.com/samoylv/WPG/commit/5921a0852aecff278e3d1a6eff62cab16901cf92)

[2017-01-31 14:23] #106 closed

[2017-03-10 09:58] Hector-Mauricio-Castaneda-Cortes commented on #107
Sorry to comment about this subject. I have been working with OCELOT and WPG. As far as I know, OCELOT has an interface that allows the user to run both GENESIS v2 and v3. The postprocessing features are only implemented (up to my knowledge) for GENESIS v2.  The functions that have been implemented for plotting the optical field files can only read .dfl files, not h5 (which are the ones that are g

[2017-03-17 12:33] samoylv opened #109 "clean up s2e/prop"
* in prop_diag integral intensity min(aw)[0]
* remove duplicate scripts (propagateSe, propagateSE_mod
*

[2017-03-17 15:00] CFGrote commented on #109
2nd item done in 3fc5f274. Plus added unittest for prop. should run whenever change sth. in core wpg code.

[2017-03-20 19:36] CFGrote commented on #103
see new unittest/* under prop

[2017-03-20 19:39] CFGrote commented on #109
see #110

[2017-03-29 09:40] CFGrote commented on #109
can we close this?

[2017-03-29 09:44] samoylv commented on #109
We can close it as soon as I test prop in branch updated by Alexey
yesterday

[2017-03-29 09:47] CFGrote opened #111 "Optical Element "Screen""
This is a suggestion for adding an optical element that acts like a screen. It can be used to dump the wavefront at the screen's position to a file. In this way, we could trace the  the WF as it propagates through
the beamline more easily. Right now, to achieve this, I have to comment the later parts of the beamline, propagate, save, then uncomment the next element, run and save again etc. By inse

[2017-03-29 10:13] samoylv commented on #111
I'm not sure it can work -  from mathematical point of view the container (
or beamline) which consists of appended propagators, is as a whole the
kernel of Fresnel integral that is solved for propagation. You can split
the beamline in few ones and dump intermediate WFs in files - it may reduce
accuracy but should work

[2017-03-29 11:55] CFGrote commented on #111
hm. what about the optical_elements.Empty class? it's almost what i want, except for dumping the WF.

[2017-03-29 13:29] samoylv commented on #111
we should ask about Empty propagator implementation details @buzmakov , but I am pretty sure, that the Empty can be only the last one element there, and it is special hacking in SRW library to cope

[2017-03-29 13:53] CFGrote commented on #111
yes, i just saw it. will not work.

instead i'm writing a stepwise propagation in prop/propagate_s2e that
does the job. almost done.

carsten

On 03/29/2017 03:29 PM, samoylv wrote:

--
Dr. Carsten Fortmann-Grote
Scientist for Scientific Simulations / Wissenschaftler fuer
wissenschaftliche Simulationen
European XFEL GmbH
Holzkoppel 4
22869 Schenefeld
Germany

Phone: +49 (0)40 8998-5603
Fax:   +49

[2017-03-29 14:11] CFGrote commented on #111
implemented stepwise propagation in propagate_s2e in prop module. in test case, the final step gives the same result as propagate():
![stepwise](https://cloud.githubusercontent.com/assets/15476807/24458847/6a00ca74-149a-11e7-9461-2e92589440c1.png)
![reference](https://cloud.githubusercontent.com/assets/15476807/24458852/6e22d944-149a-11e7-80fe-0ef771b71a0d.png)

[2017-04-07 15:21] CFGrote opened #113 "Cannot reproduce XFEL KB Beamline results"
Attached viewgraphs show diagnostic output from propagated wavefronts: First one

![yoon2016_focus](https://cloud.githubusercontent.com/assets/15476807/24805157/0e935ff8-1bb1-11e7-8bca-38875b59f724.png)

is from data produced for the Yoon 2016 paper, second one

![focus_old_bl](https://cloud.githubusercontent.com/assets/15476807/24805179/20bb20da-1bb1-11e7-8866-ee863689b8c2.png)

 is from a prop r

[2017-04-10 14:31] CFGrote commented on #113
Looks like this is a srw issue. I did a quick git bisect and here's what the last good commit (buzmakov/SRW/feature/srw_lite/ebdb807) gives:

![ebdb807](https://cloud.githubusercontent.com/assets/15476807/24866588/de58fe4a-1e0a-11e7-85ed-c7fd715a54ea.png)

and the first bad commit (buzmakov/SRW/feature/srw_lite/6fd6880):

![6fd6880](https://cloud.githubusercontent.com/assets/15476807/24866631/fc3c

[2017-04-10 14:34] CFGrote commented on #113
I should mention that results look again different in commits after the first bad commit but never close to the original "good" results.

[2017-04-11 19:15] CFGrote commented on #113
I reverted simex to use srw commit 80c89e09 until this one is fixed. any comment ( @buzmakov )?

[2017-04-20 09:21] samoylv commented on #113
maybe you can try the corresponding library binary  from here?
https://github.com/ochubar/SRW/tree/master/env/work/srw_python/lib
@buzmakov : srwlpy2_7_x86_64.so should be the right one for the maxwell server?

[2017-04-20 14:10] CFGrote commented on #113
attached.

On 04/20/2017 11:21 AM, samoylv wrote:

--
Dr. Carsten Fortmann-Grote
Scientist for Scientific Simulations / Wissenschaftler fuer
wissenschaftliche Simulationen
European XFEL GmbH
Holzkoppel 4
22869 Schenefeld
Germany

Phone: +49 (0)40 8998-5603
Fax:   +49 (0)40 8998-1905
Email: carsten.grote@xfel.eu
Web: www.xfel.eu

Managing Directors: Prof. Dr. Robert Feidenhans'l, Dr. Claudia Burger

[2017-04-20 15:34] samoylv commented on #113
mmm.. where is it attached?

On Thu, Apr 20, 2017 at 4:10 PM, Carsten Fortmann-Grote <
notifications@github.com> wrote:

[2017-04-25 13:27] buzmakov commented on #108
Still needs to update totorials in documentation

[2017-04-25 13:27] #108 closed

[2017-04-25 13:46] #105 closed

[2017-05-03 19:42] CFGrote commented on #113
so, any progress? would like to use openmp, again.

[2017-05-04 09:51] samoylv commented on #113
well, just for reference, i put here the beamlines that I use for J.Optics paper, simulations made in the very end 2015, i.e. with 'new'  srw library, (also XFEL KB beamline,  but propagating shorter pulses, for 10 pC bunch charge
[spbfig_blv20_nz35.py.zip](https://github.com/samoylv/WPG/files/975732/spbfig_blv20_nz35.py.zip)

[2017-05-06 20:27] CFGrote commented on #113
do you recall grid dimensions and slicing for your input pulse?

[2017-05-06 20:27] CFGrote commented on #113
anoth

[2017-05-07 15:31] samoylv commented on #113
1) I put source files in my data directory on maxwell, i.e.
.../wspace/simex_dev/data/020pCnz20_0000020.h5 - resizing factor there always 1
see also propagate() function in the propagation script [propagate_bl_multiple_nz20_bl0_y.py.zip](https://github.com/samoylv/WPG/files/981664/propagate_bl_multiple_nz20_bl0_y.py.zip) - there is no resizing before propagating as well
2) good point. `stretching`

[2017-05-08 07:41] CFGrote commented on #113
can't find your source file, what's the absolute path?

On 05/07/2017 05:31 PM, samoylv wrote:

--
Dr. Carsten Fortmann-Grote
Scientist for Scientific Simulations / Wissenschaftler fuer
wissenschaftliche Simulationen
European XFEL GmbH
Holzkoppel 4
22869 Schenefeld
Germany

Phone: +49 (0)40 8998-5603
Fax:   +49 (0)40 8998-1905
Email: carsten.grote@xfel.eu
Web: www.xfel.eu

Managing Directors: Prof

[2017-05-08 07:46] CFGrote commented on #113
found it!

On 05/08/2017 09:41 AM, Carsten Fortmann-Grote wrote:

--
Dr. Carsten Fortmann-Grote
Scientist for Scientific Simulations / Wissenschaftler fuer
wissenschaftliche Simulationen
European XFEL GmbH
Holzkoppel 4
22869 Schenefeld
Germany

Phone: +49 (0)40 8998-5603
Fax:   +49 (0)40 8998-1905
Email: carsten.grote@xfel.eu
Web: www.xfel.eu

Managing Directors: Prof. Dr. Robert Feidenhans'l, Dr.

[2017-05-08 21:37] CFGrote commented on #113
at what distance is your focus (i.e. the shift to add to distance_foc)?
i'm too lazy to scan myself.

c.

Dr. Carsten Fortmann-Grote
Scientist for Scientific Simulations / Wissenschaftler fuer
wissenschaftliche Simulationen
European XFEL GmbH
Holzkoppel 4
22869 Schenefeld
Germany

Phone: +49 (0)40 8998-5603
Fax:   +49 (0)40 8998-1905
Email: carsten.grote@xfel.eu
Web: www.xfel.eu

Managing Director

[2017-06-17 09:38] tyjisinap opened #115 "about Tutorial_case_3_new"
I run the case of Tutorial_case_3_new , when the energy is below 5keV, everything is ok.  but when I change the energy to 10keV  ,  there will be an error  as below.    do I need to change other parameters?thank you!
print('*****Focused beam: Focused beam: perfect KB')
bOnePlot = True
isHlog = False
isVlog = False
plot_wfront(mwf, 'at '+str(z1+z2+z3+z4)+' m',isHlog, isVlog, 1e-5,1e-5,'x', bOnePlot

[2017-06-27 20:02] samoylv commented on #113
seems shift 0 corresponds to focus, see below
nz35_fig_xy_at_0mm.png:
![nz35_fig_xy_at_0mm](https://user-images.githubusercontent.com/1857321/27607302-bd974a8e-5b83-11e7-9bb7-abed55ec4d88.png)
nz35_fig_xy_at_-5mm.png:
![nz35_fig_xy_at_-5mm](https://user-images.githubusercontent.com/1857321/27607355-e6f934c8-5b83-11e7-8d80-ce317949db93.png)
nz35_fig_xy_at_5mm.png:
![nz35_fig_xy_at_5mm](https://user

[2017-06-27 20:25] samoylv commented on #113
hopefully it is the proper BL parameters
------------------------------------------
Optical Element: Aperture / Obstacle
Prop. parameters = [0, 0, 1.0, 0, 0, 0.72, 0.4, 0.72, 0.4, 0, 0, 0]
	Dx = 0.0008
	Dy = 0.0008
	ap_or_ob = a
	shape = r
	x = 0
	y = 0

Optical Element: Drift Space
Prop. parameters = [0, 0, 1.0, 0, 0, 2.5, 0.4166666666666667, 2.5, 0.4166666666666667, 0, 0, 0]
	L = 257.86
	treat =

[2017-09-11 10:31] CFGrote commented on #113
Update: with this beamline
 Module holding WPG beamlines at European XFEL.

from prop.opd import defineOPD
from wpg import optical_elements, Beamline
from wpg.optical_elements import Use_PP
import numpy
import os
#from s2e.prop.propagate_s2e import MIRROR_DATA_DIR as mirror_data_dir
from prop.propagate_s2e import MIRROR_DATA_DIR as mirror_data_dir

def get_beamline():
    """ Setup and return the

[2017-09-12 10:29] samoylv commented on #113
great! could you also put here the beamline parameters, output of print(bl), just for reference in the future?

[2017-09-12 10:38] samoylv commented on #113
well, I just mentioned that you use strong zoom-in on the drift to the focus. I would not do that. Instead you can use Empty() propagator  to resize the wavefront afterwards. At least I would cross check if it gives the same results.

[2017-09-12 11:23] CFGrote commented on #113
good point. i'll attach the beamline dump when i get to it.

c.

On Tue, Sep 12, 2017 at 10:38:02AM +0000, samoylv wrote:

--
Dr. Carsten Fortmann-Grote
Scientist for Scientific Simulations / Wissenschaftler fuer wissenschaftliche Simulationen
European XFEL GmbH
Holzkoppel 4
22869 Schenefeld
Germany

Phone: +49 (0)40 8998-5603
Fax:   +49 (0)40 8998-1905
Email: carsten.grote@xfel.eu
Web: www.xfel.e

[2017-10-09 06:40] tyjisinap opened #117 "kernel died every time"
when the *.ipynb run , the kernel is died.
when the *.py run,   it crash with  "segmentation fault".
and the srw example can run without any error.

The OS is Ubuntu 16.04,
python  version is 3.6,
thank you！

[2017-10-09 06:43] #115 closed

[2017-10-09 10:40] buzmakov commented on #117
Please send us example of your script.

Do you use default python binaries or some like Anaconda installers?

On Mon, Oct 9, 2017 at 9:40 AM, Yajun Tong <notifications@github.com> wrote:

[2017-10-14 13:36] tyjisinap commented on #117
the Python is from Anaconda. and I just run the Tutorials example.

[2017-10-14 20:33] buzmakov commented on #117
Hi, this is known issue with anaconda numpy MKL optimizations and SRW core.
Please remove mkl optimizations and try  run tutorials.

conda install nomkl numpy scipy scikit-learn numexpr
conda remove mkl mkl-service

On Sat, Oct 14, 2017 at 4:36 PM, Yajun Tong <notifications@github.com>
wrote:

[2017-10-16 01:14] tyjisinap commented on #117
Thank you very much!  I install nomkl packeges and it works now.

[2018-01-25 11:31] ia-petrov opened #118 "Laue case in SRW sroptcryst.h file"
We have been looking to the file to try to include the Laue geometry in the sroptcryst.h and we think that the definition of the variable bee is not general. The bee variable definition only agrees with Zachariasen in the case of symmetric Bragg.

We also think that it will be interesting to define how the asymmetry parameter is define in python script. tbc

[2018-02-26 13:20] mabelruiz opened #119 "Geometrical divergence does not match FWHM of build_gauss_wavefront"
The size of the beam at a distance _z_  in fwhm is geometrically defined by:` w_fwhm=div_fwhm*z`, where

`div_fwhm= lambda/pi()*width_fwhm`

The value of the beam size are allways 1.6 times smaller than the given by buid_gaussian_wavefront command.

[2018-02-26 14:34] mabelruiz commented on #119
[code]

[2018-02-26 14:35] mabelruiz commented on #119
[code]

FWM=0.76x0.76 mm

[2018-07-09 14:16] Angelrf86 commented on #118
In the case that the definition of bee would be 1/(1+(n*h)/(n*k0)) is needed to define the asymmetry variable for a symmetric Laue case as pi/2 and not 0. It should work and I think I have an old version from 2016 that was able to reproduce Laue in this way.

[2018-07-09 14:17] Angelrf86 commented on #118
The more important part of this issue it is not the definition of bee, but the inclusion of the Zachariasen equations for Laue geometry that are still not in sroptcryst.h.

[2018-07-09 14:23] bnash commented on #118
@Angelrf86, can you give a link to where this file (sroptcryst.h) is in the repository where this formula should go?

[2018-07-09 15:09] Angelrf86 commented on #118
At the moment the sroptcryst.h is only defined for Bragg:

char m_uc; // crystal use case: 1- Bragg Reflection, 2- Bragg Transmission (Laue cases to be added)

We could add the Laue cases as 3.- Laue Reflection and 4.- Laue Transmission.

In line 133 should be changed the range m_uc from m_uc > 2 to m_uc > 4

**if((m_uc < 1) || (m_uc > 4)) throw IMPROPER_OPTICAL_COMPONENT_MIRROR_USE_CASE;**

In li

[2018-07-09 15:30] samoylv opened #120 "add mirror_2d alias for taking into account crystal surface rougness for diffraction"
actually, mirror_2d is the function that allows also to take into account the impact of surface roughness on quality of the  beam diffracted by the crystal

see also formula for time delay here
https://aip.scitation.org/doi/pdf/10.1063/1.4954731

[2018-11-27 00:40] tyjisinap commented on #119
I think the module build_gauss_wavefront can only build the  perfact gauss beam that M2=1.    And I don't know how to simulate the gauss beam that M2 >1.  Have you find the answer?

[2018-12-18 11:48] twguest opened #122 "Thickness of an Aperture"
Hi All, has anyone managed to find a workaround so that we might be able to consider SRWLOptA structs of varying thickness in the z-plane?

[2018-12-18 12:02] samoylv commented on #122
Hi,
I would consider the combination of two identical apertures and a drift
between them, equal to the aperture thickness.

On Tue, Dec 18, 2018 at 12:48 PM Trey Guest <notifications@github.com>
wrote:

[2018-12-18 12:17] twguest commented on #122
Thankyou for your speedy response,

I have considered this as a possible workaround but it may damage my results given their fine dependency on the phase of the wavefront. Is there a discrete step size in the z-direction?

[2018-12-18 12:20] rafaelcelestre commented on #122
Hello all,

dear @samoylv, that is a interesting approach, however I don't think two identical apertures and a drift between them would be the best implementation to solve this problem if absorption  and phase shifts is to be taken into account.

To tackle this problem I have implemented a transmission object that simulates the SRWLOptA, but takes into account absorption and "smooth" edged a slit

[2018-12-20 08:45] rafaelcelestre commented on #122
@twguest I'll clean it up and share it over the Christmas break.

[2019-05-07 15:22] samoylv opened #123 "add support for taking into account the focusing mirror misalignment"
для реального угла падения на эллиптическое зеркало, отличного от design angle, изображение должно проецироваться на экран перпендикулярный реальной а не идельной оптической оси

[2019-05-13 16:17] Angelrf86 opened #124 "Make all Openmp"
I have forked and cloned WPG/openmp. After doing make all, I have try to run the samples/Tutorials/Tutorial_case_1 and I get the following problem (see comment)

If I just copy the openmp from afs/desy.de/...../software/openmp
this openmp can run the samples/Tutorials/Tutorail_case_1.ipynb without any problem.
If I do make clean and make all to this openmp, I have the same problem as dscribe above

[2019-05-13 16:17] Angelrf86 commented on #124
ImportError                               Traceback (most recent call last)
~/Desktop/openmp/wpg/srwlib.py in <module>()
      7 try:
----> 8     from wpg import srwlpy as srwl
      9 except ImportError:

ImportError: dynamic module does not define module export function (PyInit_srwlpy)

During handling of the above exception, another exception occurred:

ImportError

[2019-05-13 16:19] Angelrf86 commented on #124
@buzmakov, @samoylv told me to contact you with this issue.

[2019-05-13 20:24] CFGrote commented on #124
hi @Angel,
what's your environment? python version, c compiler etc. can you list
the content of wpg/ directory after make all.

thanks!

On 5/13/19 6:17 PM, Angel Rodriguez wrote:

[2019-05-14 09:35] Angelrf86 commented on #124
Version system:
Linux 3.10.0-957.10.1.el7.x86_64

3.6.7 | packaged by conda-forge | (default, Feb 28 2019, 09:07:38)
[GCC 7.3.0]

List in folder:
It is clear for me that the srwlpy*.so generated by the make all are not the same as the ones in the repository I have initially copy it from.

Initial in repository:
/wpg% ls
beamline.py                             srwl_uti_und.py
beamline.pyc

[2019-05-14 10:46] CFGrote commented on #124
ok, so your make all did not succeed. srwlpy*.py is missing. can you
paste the log from the make all run?

Regards, Carsten

On 5/14/19 11:35 AM, Angel Rodriguez wrote:

[2019-05-14 12:51] Angelrf86 commented on #124
ign-double -fstrict-aliasing -MT fcr_12.lo -MD -MP -MF .deps/fcr_12.Tpo -c fcr_12.c  -fPIC -DPIC -o fcr_12.o
if /bin/sh ../libtool --mode=compile cc -DHAVE_CONFIG_H -I. -I. -I../fftw -I../fftw -I./../fftw -I.    -O3 -fomit-frame-pointer -fno-schedule-insns -fschedule-insns2 -malign-double -fstrict-aliasing -MT fcr_64.lo -MD -MP -MF ".deps/fcr_64.Tpo" \
  -c -o fcr_64.lo `test -f 'fcr_64.c' || echo

[2019-05-14 12:54] Angelrf86 commented on #124
And this is the file:

ORIGDIR = $(CURDIR)
BUILD_DIR = $(ORIGDIR)
BIN_DIR = $(BUILD_DIR)/bin
TMP_DIR = $(ORIGDIR)/tmp
SRC_DIR = $(ORIGDIR)/sources
PYTHON_TOMO = $(BIN_DIR)/python

.PHONY: all srw

all: srw

clean:
      	rm -rf $(TMP_DIR)
        rm -rf $(BUILD_DIR)/include
        rm -rf $(BUILD_DIR)/info
        rm -rf $(BUILD_DIR)/lib
        rm -rf $(BUILD_DIR)/tmp
        rm -rf $(BUILD_DIR)/

[2019-05-14 13:38] buzmakov commented on #124
Hi,
this is a issue that you have python 3.6 in runtime

But use python 2.7 to build binaries

Could you please try execute ```which python``` before ```make all``` in same shell to be sure that python version==3 before building process.

[2019-05-14 14:17] Angelrf86 commented on #124
As you say I am using Python 2.7.5 in the terminal.
I have switch to 3.6 and now the files are looking good and the tutorials working.

Thanks @buzmakov

[2019-05-14 14:17] #124 closed

[2019-05-29 03:59] twguest opened #126 "Propagation Parameter Error"
Hi,

I'm receiving a wavefield of NaNs when attempting to propagate a wavefront using the following parameters.
pp = [0, 0, 1, **3**, 0, 1,1, 1,1, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]

The issue seems to arise from my attempt to use the 'from waist' propagator, as described here:
https://github.com/radiasoft/sirepo/wiki/SRW-Propagation-Parameters

and results in the following error when trying

[2019-06-03 08:08] #113 closed

[2019-06-03 08:08] buzmakov commented on #123
Done in 6d70f60341910ef42aa34d96f3b73ce19946328d

[2019-12-05 14:26] buzmakov opened #127 "test_tutoral_2_new crashes in docker tests"
test_tutoral_2_new crashes in docker tests

[2020-01-21 04:54] CFGrote opened #128 "Import errors"
Hi @buzmakov , @samoylv
Thanks for making this new release with many important updates.
I encounter the following import errors after installing the new version via conda.

Executing the 2. cell in [samples/App_MID_case_C.ipynb](https://github.com/samoylv/WPG/blob/develop/samples/App_MID_case_C.ipynb):

[code]

Solution would be to include cPickle in the requirements.txt

But even then, I get

[co

[2020-01-21 04:58] CFGrote opened #129 "Request: Add setup.py"
Hi,
I suggest to add a minimal `setup.py` file to the WPG root dir, such as:

[code]

One could then do
[code]
from the WPG root dir and you could get rid of all the `sys.path.insert(...)` statements.

[2020-01-22 04:59] CFGrote commented on #128
I realize that samples/App_MID_case_C.ipynb is probably not up to date anyway (should remove?).
After reinstalling from scratch, also the second error is gone, so I close this one.

[2020-01-22 15:44] buzmakov commented on #128
Hi @CFGrote
cPickle is fast pickle library is python2 standard library
In python3 it named just 'pickle'
I should update samples/App_MID_case_C.ipynb

[2020-01-22 15:53] buzmakov commented on #129
@CFGrote Thanks for the tip.

[2020-01-22 15:53] #129 closed, assigned to CFGrote

[2020-01-23 04:47] CFGrote commented on #117
I installed the newest master today following  installation instructions, in particular the
nomkl package. Executing the [S1_SPB_CRL_simplified.ipynb](https://github.com/samoylv/WPG/blob/develop/samples/beamlines/S1_SPB_CRL_simplified/S1_SPB_CRL_simplified.ipynb), I still get the same error: kernel dies when executing the last cell (propagation).

I attach the core dump:

[code]

[2020-01-24 04:43] CFGrote commented on #117
Same observation when running under plain python 3.7 without anaconda.

[2020-01-27 16:11] samoylv commented on #117
with the wpg_cryst_branch installation, I got the following error message
after the 3d S1_SPB_CRL_simplified.ipynb cell (where wpg and srw modules
are imported)
It worked properly in December...

---------------------------------------------------------------------------ImportError
                              Traceback (most recent call
last)<ipython-input-4-3fa6b3b9fcd5> in <module>     11

[2020-01-27 16:22] buzmakov commented on #117
Could you please print output of "conda list" output from your working
conda environment?

AB

On Mon, Jan 27, 2020 at 7:11 PM samoylv <notifications@github.com> wrote:

[2020-01-27 16:25] samoylv commented on #117
# packages in environment at /gpfs/exfel/data/user/buzmakov/conda_env/wpg3:
#
# Name                    Version                   Build  Channel
_libgcc_mutex             0.1                        main
alabaster                 0.7.12                   py37_0
asn1crypto                1.2.0                    py37_0
attrs                     19.3.0                     py_0
autopep8

[2020-01-28 04:26] CFGrote commented on #117
Here's my output from `conda info packages`
[conda_list.txt](https://github.com/samoylv/WPG/files/4120639/conda_list.txt)

[2020-01-28 04:30] CFGrote commented on #117
and these are all packages installed in the plain python (no conda) setup where I get the same  kernel dying issue:
[pip_list.txt](https://github.com/samoylv/WPG/files/4120649/pip_list.txt)

[2020-01-28 04:33] CFGrote commented on #117
but that's a different issue, right? I  had the same (see #128) and it got fixed after re-installing everything from scratch.

[2020-01-28 04:46] CFGrote commented on #128
not sure this helps, but all srw tests in tests/ go through.

[2020-01-28 04:57] CFGrote commented on #128
and again same kernel crash on branch origin/feature/openmp, which used to work fine before. for me this points to some problem in the maxwell environment, unrelated to wpg.

[2020-01-28 12:25] buzmakov commented on #117
Carsten,
I should debug this issue with gdb.

AB

On Tue, Jan 28, 2020 at 7:33 AM Carsten Fortmann-Grote <
notifications@github.com> wrote:

[2020-01-28 12:28] CFGrote commented on #117
good luck ;)

i attempted this once with very unrepreducible results. looked sike a
memory leak to me which kicks in in more or less random fashion.

c

[2020-01-28 19:43] CFGrote commented on #117
i rebuilt wpg on a debian10 linux machine, no problem with latest develop commit. conda environment with nomkl package. so probably some centos problem, maybe compiler?

[2020-01-31 13:33] buzmakov commented on #117
UPDATE: still in debuging

[2020-01-31 16:24] buzmakov commented on #117
This issue appear only on maxwell server.
Works fine on Windows, Ubuntu and all other my installation including WSL (Linux on Windows)

[2020-02-11 12:58] samoylv commented on #117
@buzmakov, @CFGrote  - any hints how to get around this issue while it is not fixed?
Is it possible to have some local python/conda installation to run simex/wpg examples at maxwell?

[2020-02-11 13:02] CFGrote commented on #117
currently i believe that it is not possible to use wpg on maxwell. not
even older versions, as indicated above.

[2020-02-14 20:09] buzmakov commented on #117
Investigation shows that problem in OpenMP inside SRW.
Turning off OpenMP remove all crashes.
WIP

[2020-02-16 15:45] buzmakov commented on #117
Seem to be fixed in 'develop' branch (turn of OpenMP by default. See README.md for details).
I add S1 beamline as the test for future degradations.

please run following commands: 'git pull; make clean; make'

[2020-02-17 07:53] CFGrote commented on #117
but that's not a solution! if openmp is not functional, many
applications become unfeasible. plus, oleg et al just submitted a paper
for SPIE where they advertise openMP.

best, carsten

On 2/16/20 4:45 PM, Alexey Buzmakov wrote:

[2020-02-17 08:28] buzmakov commented on #117
Liuba,
Can we ask Serguey Yakubov to debug openmp build on maxwell?

пн, 17 февр. 2020 г., 10:53 Carsten Fortmann-Grote <notifications@github.com

[2020-02-17 08:32] CFGrote commented on #117
yes, we can! he's also an author on that paper...

On 2/17/20 9:28 AM, Alexey Buzmakov wrote:

[2020-02-17 10:14] samoylv commented on #117
BTW, beamlines (SRW containers) with Drifts only can be run smoothly with
openMP as well (Drift has only one numerical variable, propagation
distance). With any other propagator, kernel died

On Mon, Feb 17, 2020 at 9:32 AM Carsten Fortmann-Grote <
notifications@github.com> wrote:

[2020-02-17 10:23] buzmakov commented on #117
It is seems that error happens in free() function in srw aperture creation.

пн, 17 февр. 2020 г., 13:14 samoylv <notifications@github.com>:

[2020-02-17 20:57] samoylv commented on #117
Hi Carsten,  could you ask Sergei?

On Mon, 17 Feb 2020, 09:32 Carsten Fortmann-Grote, <notifications@github.com>
wrote:

[2020-02-18 04:36] CFGrote commented on #117
done (email)

On 2/17/20 9:57 PM, samoylv wrote:

[2020-02-18 08:56] SergeyYakubov commented on #117
Hi!
Can I have a possible smallest example that reproduces the problem?
Without notebooks, maybe without wpg, just srw?

[2020-02-18 10:19] samoylv commented on #117
I can provide a wpg python example
[S1_SPB_CRL_simplified_reduced.py.zip](https://github.com/samoylv/WPG/files/4218555/S1_SPB_CRL_simplified_reduced.py.zip)
you have to remove comment in line 90 or 101 to get kernel died

@CFGrote : I ran this example at maxwell with anaconda3/5.2 loaded and the following conda_env  to resolve wpg/srw imports properly /gpfs/exfel/data/user/buzmakov/conda_env/wpg3

[2020-02-18 10:47] SergeyYakubov commented on #117
ok, I just installed wpg, set PYTHONPATH to it and tried your script with standard python3 on maxwell.

Can see the crash. If I set OMP_NUM_THREADS to 1 - no crash.

I'll have a look.

[2020-02-18 10:48] CFGrote commented on #117
thanks guys!

[2020-02-18 11:06] samoylv commented on #117
thank you!

On Tue, Feb 18, 2020 at 11:47 AM Sergey Yakubov <notifications@github.com>
wrote:

[2020-02-18 12:20] SergeyYakubov commented on #117
ups!
there is a memory bug (even two, e.g.
https://github.com/ochubar/SRW/blob/5d3d4cff1e64f6c6587a5731fb94efdb4612c06e/cpp/src/core/sroptel2.cpp#L190). I used results[threadNum] (with thread number) where results were allocated with pRadAccessData->ne.
So, if number of threads are large than ne, we have problem. Which was the case on Maxwell where one can have up to  80 threads.

I can correct it

[2020-02-18 12:24] samoylv commented on #117
@buzmakov : what do you think?

[2020-02-18 12:26] buzmakov commented on #117
Sergey,
we use unmodified SRW from Oleg,
I see 2 simple possibilities:

1) If you create pull request to original SRW, I'll switch to your branch,
until Oleg will not fix it
2) If you send me corrected file, I'll create patch and will apply it
during SRW build.

On Tue, Feb 18, 2020 at 3:20 PM Sergey Yakubov <notifications@github.com>
wrote:

[2020-02-18 12:30] samoylv commented on #117
Pull request to original SRW would be better solution...

On Tue, Feb 18, 2020 at 1:26 PM Alexey Buzmakov <notifications@github.com>
wrote:

[2020-02-18 13:26] SergeyYakubov commented on #117
I put the code here:
https://github.com/SergeyYakubov/SRW/tree/openmp_memoryfix

would be nice to run some tests before creating pull request.

[2020-02-18 13:30] buzmakov commented on #117
Thnx!
I'll test it on our test cases including real beamlines and push it to
develop branch, if all will be ok.

On Tue, Feb 18, 2020 at 4:26 PM Sergey Yakubov <notifications@github.com>
wrote:

[2020-02-19 12:11] buzmakov commented on #117
@SergeyYakubov @samoylv @CFGrote I add new SRW to WPG develop branch ant turn on OpenMP by default.
All my tests passed on Maxwell.
Please test in your configurations.

[2020-02-19 13:15] CFGrote commented on #117
cool. @sergey, thanks for the quick fix!

carsten

On 2/19/20 1:11 PM, Alexey Buzmakov wrote:

[2020-02-19 13:19] SergeyYakubov commented on #117
sure, after you bought me with the authorship in this publication ... :)

[2020-02-19 13:20] CFGrote commented on #117
exactly :D that's how it works

On 2/19/20 2:19 PM, Sergey Yakubov wrote:

[2020-05-15 17:12] buzmakov commented on #117
@SergeyYakubov @samoylv Maybe time to push OpenMP patch to Oleg SRW repository is come?

[2020-05-16 06:56] samoylv commented on #117
Agreed

On Fri, 15 May 2020, 19:12 Alexey Buzmakov, <notifications@github.com>
wrote:

[2020-05-16 07:09] SergeyYakubov commented on #117
Just that you be aware how Oleg deals with OpenMP changes - he keeps it separated from his non-OpenMP code, i.e. if (non-openmp) {<his code>} else {open-mp code} instead of merging and having only one code.

Three years ago (or when was it) the both versions produced exactly same results (up to the last digit), I check it thoroughly on the examples available. But since then he has made some change

[2020-05-16 07:28] samoylv commented on #117
@CFGrote: what do you think?

[2020-05-18 06:10] CFGrote commented on #117
should merge openmp into mainline and carefully fix all conflicts. this
means someone has to set aside some time for it. @samoylv, is this
something that your student could take care of?

carsten

On 5/16/20 9:28 AM, samoylv wrote:

[2020-05-18 13:59] buzmakov commented on #117
Hi @SergeyYakubov
It seems that Oleg migrates to FFTW3 for common code and still use FFTW2 for OpenMP code.

There is a switch in Makefile:
https://github.com/ochubar/SRW/blob/d6c5f7ebfea3954e0863755209b4b249355c59c3/cpp/gcc/Makefile

I think that is the source of the slight differences.

Is it possible to use OpenMP code ith FFTW3?

[2020-05-19 07:13] SergeyYakubov commented on #117
Hi!

This is not only this switch, there are also switches in the code, e.g.
https://github.com/ochubar/SRW/blob/fc2a82ffdf36898540c75fbc4975c0ac7309b698/cpp/src/core/sroptel2.cpp#L148

I unfortunately have no time to deal with it. Anyway, would be good to agree with Oleg to merge the codes correctly once and forever. Otherwise with the next change in "non-openmp" part it can diverge again.

Or on

[2020-06-06 16:05] tyjisinap opened #132 "Simulate the pulse stretch of grating"
Hi all,
I want to simulate the pulse stretch of grating monochromator. is there a module for this purpose?

Best regards,

Yajun

[2020-06-07 13:17] samoylv commented on #132
Hi,
you can have a look at the grating example [here](https://github.com/samoylv/WPG/blob/develop/samples/sos_2016/example04_beamline_vls_grating.ipynb)
best,
Liubov

[2020-06-09 12:55] tyjisinap commented on #132
Best regards.

Hi Liubov,
Thank you very much! It is just what I need.

Best,
Yajun

From: samoylv
Date: 2020-06-07 21:17
To: samoylv/WPG
CC: Yajun Tong; Author
Subject: Re: [samoylv/WPG] Simulate the pulse stretch of grating (#132)
Hi,
you can have a look at the grating example here
best,
Liubov
—
You are receiving this because you authored the thread.
Reply to this email directly, view it on Git

[2020-10-15 03:58] CFGrote opened #133 "wpg.generators.build_gauss_wavefront yields wrong radius of curvature"
I use `wpg.generators.build_gauss_wavefront()` to setup a Gaussian wavefront 100 m from the source position. E.g.:
[code]

Then I query for the radius of curvatures:
[code]

To my knowledge, it should be Rx = z * sqrt( 1 + ( z_Rx / z )^2 ) and likewise for Ry (z_R being the Rayleigh length). Cf here: https://www.rp-photonics.com/gaussian_beams.html.

I guess the current implementation is valid for

[2020-10-20 10:30] rafaelcelestre commented on #133
Hello @CFGrote,

in the SRW, from the available propagators:

[ 3]: Type of Free-Space Propagator:

        0- Standard Fresnel
        1- Fresnel with the analytical treatment of the quadratic (leading) phase terms
        2- Similar to 1, yet with different processing near a waist
        3- For propagation from a waist over a ~large distance
        4- For propagation over some distance to a wa